@model FADMS.Areas.FAMSDEALER.Models.DashboardViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    #region Salse
    var pistol = Model.spSalesViewmodels.Where(x => x.ArmTypeName == "Pistol").FirstOrDefault();
    var pistolCount = (pistol?.Count >= 0) ? pistol?.Count : 0;

    var rivolber = Model.spSalesViewmodels.Where(x => x.ArmTypeName == "Revolver").FirstOrDefault();
    var rivolberCount = (rivolber?.Count >= 0) ? rivolber?.Count : 0;

    var oneTubeGun = Model.spSalesViewmodels.Where(x => x.ArmTypeName == "One Tube Gun").FirstOrDefault();
    var oneTubeGunCount = (oneTubeGun?.Count >= 0) ? oneTubeGun?.Count : 0;

    var twoTubeGun = Model.spSalesViewmodels.Where(x => x.ArmTypeName == "Two Tube Gun").FirstOrDefault();
    var twoTubeGunCount = (twoTubeGun?.Count >= 0) ? twoTubeGun?.Count : 0;

    var shotgun = Model.spSalesViewmodels.Where(x => x.ArmTypeName == "Shotgun").FirstOrDefault();
    var shotgunCount = (shotgun?.Count >= 0) ? shotgun?.Count : 0;

    var rifle = Model.spSalesViewmodels.Where(x => x.ArmTypeName == "Rifle").FirstOrDefault();
    var rifleCount = (rifle?.Count >= 0) ? rifle?.Count : 0;
    #endregion



    #region Purchase
    var pistol_p = Model.spPurchases.Where(x => x.ArmTypeName == "Pistol").FirstOrDefault();
    var pistol_pCount = (pistol_p?.Count >= 0) ? pistol_p?.Count : 0;

    var rivolber_p = Model.spPurchases.Where(x => x.ArmTypeName == "Revolver").FirstOrDefault();
    var rivolber_pCount = (rivolber_p?.Count >= 0) ? rivolber_p?.Count : 0;

    var oneTubeGun_p = Model.spPurchases.Where(x => x.ArmTypeName == "One Tube Gun").FirstOrDefault();
    var oneTubeGun_pCount = (oneTubeGun_p?.Count >= 0) ? oneTubeGun_p?.Count : 0;

    var twoTubeGun_p = Model.spPurchases.Where(x => x.ArmTypeName == "Two Tube Gun").FirstOrDefault();
    var twoTubeGun_pCount = (twoTubeGun_p?.Count >= 0) ? twoTubeGun_p?.Count : 0;

    var shotgun_p = Model.spPurchases.Where(x => x.ArmTypeName == "Shotgun").FirstOrDefault();
    var shotgun_pCount = (shotgun_p?.Count >= 0) ? shotgun_p?.Count : 0;

    var rifle_p = Model.spPurchases.Where(x => x.ArmTypeName == "Rifle").FirstOrDefault();
    var rifle_pCount = (rifle_p?.Count >= 0) ? rifle_p?.Count : 0;
    #endregion


}
@{
    var id = pistol?.Id;
    var revid = rivolber?.Id;
    var oneTubeGunId = oneTubeGun?.Id;
    var twoTubeGunId = twoTubeGun?.Id;
    var shotgunId = shotgun?.Id;
    var rifleId = rifle?.Id;

    var pistolid = pistol_p?.Id;
    var rivolberid = rivolber_p?.Id;
    var oneTubeGunid = oneTubeGun_p?.Id;
    var twoTubeGunid = twoTubeGun_p?.Id;
    var shotgunid = shotgun_p?.Id;
    var rifleid = rifle_p?.Id;
}
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src=" https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap.min.js"></script>
<style>
    .small {
        font-size: 100%;
        font-weight: 800;
    }

    .bigMap-btn {
        width: 70px;
        height: 30px;
    }d

    .divMap-btn {
        width: 70px;
        height: 30px;
    }

    .divhov {
        transition: transform .2s;
        background-color: #E8E8EC
    }

        .divhov:hover {
            background-color: #9cf0f6;
            transform: scale(1.1);
        }

    /*.dataTables_scrollHeadInner {
        width: 1166px !important;
    }*/
    /*svg{
        color:#13087E
    }*/

</style>
<div class="col-12" style="width:98%">
    <div class="card">
        <div class="col-12 pt-2">
            <h5>বিক্রয় তথ্য </h5>

        </div>
        <div class="card-body row">

            <div class="col-md-4 mb-4">
                <div class="card border-left-primary shadow h-100 py-2 divhov">
                    <div class="card-body" onclick="PistolType(@id)" id="Pistol">
                        <div class="row no-gutters align-items-center">
                            <div class="col-10">
                                <div class="text-xl-left font-weight-bold text-primary mb-1">
                                    <h5><strong>পিস্তল </strong></h5>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <span id="TotalApplicant">@pistolCount</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <svg style="width:auto;height:auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125 125">
                                    <g>
                                        <path class="st0" d="M9.51,5.81l0.03-0.1c1.25-2.88,2.16-4.31,3.91-5.14c2.5-1.18,4.98-0.49,6.62,1.68 c0.78,1.03,1.38,2.24,1.85,3.56h82.67V5.26c0-2.82,2.31-5.13,5.13-5.13h5.39c0.97,0,1.77,0.8,1.77,1.77v3.9h1.29 c2.59,0,4.71,2.12,4.71,4.71v10.93H62.86v-6.3c0-1.1-0.89-1.99-1.99-1.99c-1.1,0-1.99,0.89-1.99,1.99v6.3h-4.78v-6.3 c0-1.1-0.89-1.99-1.99-1.99c-1.1,0-1.99,0.89-1.99,1.99v6.3h-4.78v-6.3c0-1.1-0.89-1.99-1.99-1.99c-1.1,0-1.99,0.89-1.99,1.99v6.3 h-4.78v-6.3c0-1.1-0.89-1.99-1.99-1.99c-1.1,0-1.99,0.89-1.99,1.99v6.3h-4.78v-6.3c0-1.1-0.89-1.99-1.99-1.99 c-1.1,0-1.99,0.89-1.99,1.99v6.3H19v-6.3c0-1.1-0.89-1.99-1.99-1.99c-1.1,0-1.99,0.89-1.99,1.99v6.3h-4.78v-6.3 c0-1.1-0.89-1.99-1.99-1.99c-1.1,0-1.99,0.89-1.99,1.99v6.3H0.27c-0.07,0-0.13,0-0.2,0.01C0.02,20.79,0,20.07,0,19.31v-8.8 c0-2.59,2.12-4.7,4.7-4.7H9.51L9.51,5.81z M122.88,25.44v2.67c0,2.59-2.12,4.71-4.71,4.71l-35.52,3.73V25.44H122.88L122.88,25.44z M78.68,36.96l-4.81,0.51c0.82,8.68-0.39,14.49-5.55,18.1c-4.85,3.39-13.12,4.45-26.6,3.76c-0.12-0.01-0.25-0.02-0.36-0.05 l-2.4,8.8H2.54c0.32-0.76,0.68-1.56,1.08-2.43c1.33-2.94,2.88-5.72,4.66-8.33c4.68-7.91,7.87-14.82,8.2-19.46 c0.77-10.83-12.62-0.46-15.8-12.42h78v11.33C78.67,36.83,78.67,36.9,78.68,36.96L78.68,36.96z M38.12,71.15l-1.43,5.24 c3.01,4.39,3.73,7.91,1.71,10.38c-2.93,3.59-8.13,2.66-12.22,2.66H7.01c-5.17-0.45-7.19-3.9-6.91-9.54c0-3.65,0.38-6.11,1.26-8.75 H38.12L38.12,71.15z M69.92,37.88L58.2,39.11c-1.28,0.04-2.5,0.17-3.66,0.4c0.05,0.16,0.08,0.34,0.08,0.51 c0.05,2.03,0.77,3.69,1.86,4.88c1.17,1.28,2.8,2.03,4.52,2.14c1.1,0.07,1.93,1.01,1.86,2.11c-0.07,1.1-1.01,1.93-2.11,1.86 c-2.74-0.17-5.32-1.38-7.2-3.42c-1.58-1.72-2.65-4.03-2.87-6.8c-3.79,1.91-6.5,5.61-7.57,12.03l-0.69,2.54 c12.26,0.6,19.63-0.27,23.63-3.06C69.76,49.72,70.58,45.04,69.92,37.88L69.92,37.88z"></path>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-4">
                <div class="card border-left-primary shadow h-100 py-2 divhov">
                    <div class="card-body" onclick="PistolType(@revid)">
                        <div class="row no-gutters align-items-center">
                            <div class="col-10">
                                <div class="text-xl-left font-weight-bold text-primary mb-1">
                                    <h5><strong>রিভলভার </strong></h5>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <span id="TotalApplicant">@rivolberCount</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <svg style="width:auto;height:auto;" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.991 511.991" xml:space="preserve"><g>	<g>	<g>			<path d="M509.493,87.826c-1.601-1.601-3.772-2.499-6.035-2.498h-17.067c-14.132,0.015-25.585,11.468-25.6,25.6v8.533H136.524				c-4.303,0.003-7.931,3.206-8.467,7.475c-0.443,3.58-1.082,7.134-1.916,10.644c-15.668-8.611-33.839-11.513-51.409-8.21				c-2.727,0.677-4.946,2.653-5.934,5.284c-0.987,2.631-0.616,5.579,0.992,7.883l2.525,3.617				c7.853,11.316,12.226,24.682,12.58,38.451c-5.372,1.816-10.973,2.867-16.638,3.123c-0.465,0.036-0.927,0.111-1.38,0.225				c-0.372,0.036-0.74,0.096-1.104,0.181c-0.952,0.28-1.848,0.724-2.647,1.314c-0.108,0.081-0.179,0.205-0.283,0.291				c-0.696,0.578-1.294,1.265-1.772,2.033c-0.062,0.1-0.165,0.154-0.223,0.256c-0.121,0.213-0.12,0.45-0.221,0.668				c-0.214,0.368-0.399,0.752-0.554,1.149L0.949,394.162c-2.16,7.712-0.586,15.991,4.254,22.372				c4.84,6.381,12.387,10.129,20.396,10.128h78.425c8.077-0.042,15.032-5.707,16.708-13.608l17.882-89.756				c6.316,6.083,14.74,9.486,23.509,9.498h25.6c18.844-0.019,34.115-15.29,34.133-34.133v-8.533				c0.012-9.421,7.646-17.054,17.067-17.067h25.6c9.421-0.012,17.055-7.646,17.067-17.067v-42.667h186.175				c9.826-0.034,18.776-5.66,23.067-14.5l9.992-20.748c6.691-2.46,11.145-8.823,11.166-15.952V93.862				C511.992,91.598,511.093,89.427,509.493,87.826z M120.312,153.868c-4.298,8.918-10.757,16.621-18.79,22.407				c-1.29-10.914-4.628-21.487-9.84-31.164C101.794,145.664,111.62,148.67,120.312,153.868z M104.024,409.595H25.599				c-2.649,0.001-5.148-1.228-6.763-3.327c-1.616-2.099-2.165-4.829-1.487-7.39l55.913-189.423				c27.703,19.027,47.196,47.815,54.577,80.602L104.024,409.595z M204.79,298.662c-0.012,9.421-7.646,17.054-17.067,17.067h-25.6				c-9.421-0.012-17.054-7.646-17.067-17.067v-8.533c0.013-2.067,0.406-4.114,1.158-6.04l19.709,13.139				c3.919,2.558,9.168,1.482,11.764-2.412c2.596-3.894,1.571-9.153-2.297-11.787l-14.729-9.819c0.49-0.042,0.961-0.148,1.462-0.148				h25.6c9.421,0.012,17.054,7.646,17.067,17.067V298.662z M264.524,255.995h-25.6c-9.84,0.031-19.182,4.335-25.6,11.794				c-6.418-7.459-15.76-11.763-25.6-11.794h-25.6c-8.856,0.006-17.359,3.47-23.698,9.654c-9.851-25.7-26.597-48.187-48.396-64.99				c28.83-9.167,49.783-34.146,53.795-64.131h120.7V255.995z M477.857,110.929c0.003-4.712,3.822-8.53,8.533-8.533h8.533v17.067				h-17.067V110.929z M475.449,191.429c-1.427,2.947-4.409,4.822-7.683,4.833H281.591v-17.067h199.75L475.449,191.429z				 M281.591,162.129v-25.6h213.333l0.017,25.6H281.591z"></path>			<path d="M170.657,238.929h59.733c9.421-0.012,17.054-7.646,17.067-17.067v-51.2c-0.012-9.421-7.646-17.054-17.067-17.067h-59.733				c-9.421,0.012-17.054,7.646-17.067,17.067v51.2C153.603,231.283,161.237,238.916,170.657,238.929z M170.657,170.662h59.733				l0.006,17.067h-34.139c-4.713,0-8.533,3.82-8.533,8.533s3.82,8.533,8.533,8.533h34.144l0.006,17.067h-59.75V170.662z"></path>		</g>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card border-left-primary shadow h-100 py-2 divhov">
                    <div class="card-body" onclick="PistolType(@oneTubeGunId)">
                        <div class="row no-gutters align-items-center">
                            <div class="col-10">
                                <div class="text-xl-left font-weight-bold text-primary mb-1">
                                    <h5><strong>এক নলা আগ্নেয়াস্ত্র </strong></h5>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <span id="TotalApplicant">@oneTubeGunCount</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <svg style="width:auto;height:auto;" enable-background="new 0 0 512.003 512.003" viewBox="0 0 512.003 512.003" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m462.485 15.83-11.738-11.738c-2.639-2.639-6.146-4.092-9.878-4.092s-7.239 1.453-9.877 4.091l-183.643 183.643c-2.053 2.053-3.33 4.593-3.835 7.251l-37.838 37.838c-2.733.516-5.247 1.832-7.257 3.841l-27.942 27.941c-5.447 5.447-5.447 14.309 0 19.755l8.744 8.744c-5.755 9.381-11.382 22.903-12.43 40.79l-7.483-1.333c-6.811-1.214-13.796.983-18.686 5.874l-90.122 90.123c-3.435 3.436-5.278 8.188-5.056 13.042.223 4.854 2.492 9.419 6.228 12.526l28.177 23.434c1.401 1.165 3.102 1.733 4.792 1.733 2.151 0 4.287-.921 5.771-2.704 2.648-3.185 2.214-7.914-.971-10.563l-28.177-23.433c-.686-.571-.818-1.298-.835-1.681-.017-.382.047-1.118.678-1.748l9.359-9.359 31.485 31.485c4.165 4.164 9.69 6.743 15.559 7.262 2.364.209 4.59 1.248 6.269 2.927l11.997 11.998-6.184 12.246c-.439.869-1.191 1.142-1.601 1.227-.409.087-1.209.135-1.958-.488l-9.026-7.507c-3.185-2.646-7.914-2.213-10.562.971-2.649 3.185-2.214 7.913.97 10.563l9.026 7.507c3.151 2.62 7.042 4.009 11.043 4.009 1.181 0 2.372-.121 3.556-.367 5.196-1.079 9.548-4.414 11.941-9.151l56.581-112.034c7.89 2.782 17.037 1.023 23.337-5.275l13.872-13.871c6.856-6.856 8.543-17.256 4.196-25.875-.513-1.019-1.198-1.979-2.233-3.434-7.4-10.392-13.589-22.584-3.378-34.228.2-.229.405-.462.606-.691.085-.057.172-.107.256-.168.674-.494 1.31-.583 1.677-.503.187.041.216.093.26.172 1.007 1.809 2.258 3.465 3.715 4.922 4.351 4.351 10.405 6.726 16.946 6.726 1.005 0 2.023-.056 3.046-.17 7.175-.797 14.162-4.271 19.674-9.783 11.625-11.625 12.692-30.201 2.329-40.564-2.788-2.787-5.561-4.642-8.265-5.829 30.103-34.324 59.87-68.26 76.411-87.119l6.583-7.506c5.621-6.407 8.367-14.949 7.534-23.435l-.663-6.753c-.124-1.265-.414-2.477-.837-3.624l39.51-39.511c2.929-2.93 2.929-7.678 0-10.607-2.929-2.928-7.678-2.928-10.606 0l-40.877 40.878c-4.237-.451-8.47 1.001-11.596 4.127l-48.481 48.481-6.546-6.546 154.837-154.84 10.281 10.281-32.213 32.212c-2.929 2.93-2.929 7.678 0 10.607 2.929 2.928 7.678 2.928 10.606 0l32.941-32.942c2.639-2.638 4.092-6.146 4.092-9.877s-1.452-7.238-4.091-9.878zm-280.673 258.653 26.484-26.483 6.546 6.546-25.276 25.276c-.372.372-.771.784-1.189 1.226zm91.447 3.831c4.018 4.018 3.875 13.146-2.329 19.352-3.067 3.066-6.976 5.064-10.723 5.48-1.841.205-5.293.184-7.732-2.256-.475-.475-.884-1.018-1.215-1.612-1.078-1.935-2.511-3.566-4.217-4.837.58-.662 1.167-1.331 1.75-1.996l5.614 4.117c1.336.98 2.89 1.453 4.429 1.453 2.308 0 4.584-1.063 6.054-3.065 2.449-3.341 1.727-8.034-1.613-10.483l-4.557-3.341c1.649-1.881 3.305-3.768 4.964-5.661 3.836-.882 6.203-.524 9.575 2.849zm77.417-138.388.526 5.357c.429 4.374-.985 8.776-3.882 12.078l-6.584 7.506c-24.101 27.477-76.27 86.954-116.657 133.01-19.414 22.138-2.967 45.23 2.438 52.819.413.58.92 1.293 1.111 1.594 1.357 2.804.777 6.168-1.462 8.406l-13.872 13.871c-2.892 2.891-7.596 2.891-10.487 0-.176-.176-8.033-8.032-8.033-8.032-2.929-2.928-7.678-2.928-10.606 0-2.929 2.93-2.929 7.678 0 10.607l4.194 4.194-44.466 88.045-8.51-8.51c-4.166-4.165-9.691-6.744-15.557-7.261-2.365-.209-4.592-1.249-6.271-2.928l-8.449-8.449 22.333-26.315c2.68-3.157 2.293-7.891-.865-10.57-3.158-2.681-7.891-2.292-10.571.865l-21.538 25.378-12.394-12.394 70.155-70.156c1.427-1.427 3.468-2.071 5.45-1.714l16.167 2.881c2.226.397 4.507-.231 6.216-1.706 1.709-1.476 2.663-3.643 2.596-5.9-.9-30.331 13.944-47.604 18.515-52.175l38.351-38.351c2.929-2.93 2.929-7.678 0-10.607-2.929-2.928-7.678-2.928-10.606 0l-2.468 2.469-4.838-4.837 29.176-29.175 4.837 4.837-1.302 1.302c-2.929 2.93-2.929 7.678 0 10.607 2.929 2.928 7.678 2.928 10.606 0zm-68.704 47.49-16.741 16.741-6.546-6.546 16.741-16.741z"></path><path d="m171.619 381.134c-3.412-2.348-8.081-1.488-10.431 1.923l-34.616 50.262c-2.35 3.411-1.489 8.081 1.923 10.431 1.299.895 2.781 1.324 4.247 1.324 2.384 0 4.729-1.135 6.184-3.247l34.616-50.262c2.35-3.412 1.489-8.082-1.923-10.431z"></path><path d="m129.783 398.743c1.41 1.197 3.134 1.782 4.849 1.782 2.126 0 4.239-.899 5.722-2.646l7.237-8.526c2.68-3.158 2.293-7.892-.865-10.571-3.157-2.681-7.891-2.292-10.571.864l-7.237 8.526c-2.68 3.158-2.293 7.891.865 10.571z"></path></g></g></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card border-left-primary shadow h-100 py-2 divhov">
                    <div class="card-body" onclick="PistolType(@twoTubeGunId)">
                        <div class="row no-gutters align-items-center">
                            <div class="col-10">
                                <div class="text-xl-left font-weight-bold text-primary mb-1">
                                    <h5><strong>দুই নলা আগ্নেয়াস্ত্র</strong></h5>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <span id="TotalApplicant">@twoTubeGunCount</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 296.456 296.456" style="width:auto;height:auto;" xml:space="preserve"><g>	<path d="M261.904,20.065c-3.797-0.871-7.582,1.5-8.455,5.296c-0.055,0.237-0.124,0.469-0.181,0.705		c18.542,11.525,31.151,30.923,34.036,52.712c3.643,0.6,7.174-1.724,8.013-5.375C300.819,49.448,285.86,25.567,261.904,20.065z"></path>	<path d="M248.068,40.591c-5.847,12.077-14.989,22.394-26.543,29.63L78.764,159.649c-2.252,1.41-3.852,3.658-4.446,6.248		c-0.06,0.26-0.101,0.52-0.14,0.782l-13.775-2.193c-4.093-0.658-7.936,2.137-8.586,6.227c-0.651,4.091,2.137,7.936,6.226,8.586		l8.063,1.284l-7.739,4.848l0.001,0.001L7.036,217.586c-7.018,4.396-9.144,13.649-4.747,20.667l19.598,31.284		c2.737,4.37,7.528,7.027,12.685,7.034c5.157,0.008,9.955-2.636,12.705-6.998l44.39-70.42l10.83-6.784l4.641,7.408		c2.663,4.251,7.25,6.789,12.27,6.789c2.714,0,5.368-0.763,7.674-2.208l9.503-5.952c6.761-4.235,8.816-13.182,4.581-19.943		l-4.641-7.409l59.212-37.091c4.689-2.938,6.109-9.121,3.172-13.812l-5.048-8.059l38.704-24.245		c11.84-7.415,25.481-11.148,39.236-10.949C268.84,62.203,260.284,49.163,248.068,40.591z M70.504,208.449l-39.942,26.822		c-1.284,0.861-2.737,1.274-4.175,1.274c-2.415,0-4.786-1.164-6.233-3.319c-2.309-3.439-1.394-8.099,2.045-10.408l39.942-26.822		c3.441-2.309,8.1-1.394,10.408,2.045C74.858,201.48,73.943,206.139,70.504,208.449z M119.569,191.365l-4.359-6.959l8.604-5.39		l4.358,6.959L119.569,191.365z"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card border-left-primary shadow h-100 py-2 divhov">
                    <div class="card-body" onclick="PistolType(@shotgunId)">
                        <div class="row no-gutters align-items-center">
                            <div class="col-10">
                                <div class="text-xl-left font-weight-bold text-primary mb-1">
                                    <h5><strong> শটগান </strong></h5>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <span id="TotalApplicant">@shotgunCount</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <svg style="width:auto;height:auto;" viewBox="-70 0 511 511.90602" xmlns="http://www.w3.org/2000/svg"><path d="m53.25 292.59375c-2.046875 0-4.105469-.785156-5.664062-2.34375l-5.648438-5.65625c-1.734375-1.75-2.574219-4.191406-2.269531-6.640625.292969-2.445313 1.710937-4.605469 3.832031-5.871094l27.4375-16.449219 253.320312-253.285156c3.121094-3.121094 8.167969-3.128906 11.289063-.027344l22.703125 22.53125c3.144531 3.117188 3.160156 8.175782.046875 11.308594-3.109375 3.144532-8.183594 3.160156-11.3125.050782l-17.046875-16.921876-248.390625 248.351563c-.464844.464844-.984375.867187-1.542969 1.203125l-19.769531 11.847656c1.703125 3.046875 1.257813 6.964844-1.328125 9.558594-1.566406 1.558594-3.617188 2.34375-5.65625 2.34375zm0 0"></path><path d="m188.523438 247.890625c-2.050782 0-4.097657-.785156-5.65625-2.34375-3.128907-3.128906-3.128907-8.183594 0-11.3125l113.152343-113.144531c3.125-3.128906 8.183594-3.128906 11.3125 0 3.125 3.128906 3.125 8.183594 0 11.3125l-113.152343 113.144531c-1.570313 1.566406-3.609376 2.34375-5.65625 2.34375zm0 0"></path><path d="m149.347656 298.171875c-2.050781 0-4.097656-.785156-5.65625-2.347656l-45.160156-45.160157c-3.128906-3.125-3.128906-8.183593 0-11.308593 3.128906-3.128907 8.183594-3.128907 11.3125 0l45.160156 45.160156c3.125 3.125 3.125 8.183594 0 11.308594-1.5625 1.570312-3.609375 2.347656-5.65625 2.347656zm0 0"></path><path d="m37.617188 511.90625c-2.480469 0-4.910157-1.144531-6.480469-3.296875-46.453125-63.945313-39.527344-151.007813 16.472656-207.015625 3.128906-3.128906 8.183594-3.128906 11.3125 0s3.128906 8.183594 0 11.3125c-50.398437 50.40625-56.640625 128.757812-14.839844 186.296875 2.601563 3.574219 1.808594 8.574219-1.769531 11.167969-1.414062 1.039062-3.0625 1.535156-4.695312 1.535156zm0 0"></path><path d="m87.203125 462.3125c-2.050781 0-4.097656-.78125-5.65625-2.34375-31.191406-31.191406-31.191406-81.941406 0-113.144531 3.128906-3.125 8.183594-3.125 11.3125 0 3.125 3.128906 3.125 8.1875 0 11.3125-24.953125 24.953125-24.953125 65.5625 0 90.511719 3.125 3.128906 3.125 8.1875 0 11.3125-1.570313 1.570312-3.609375 2.351562-5.65625 2.351562zm0 0"></path><path d="m38.507812 511.035156c-2.050781 0-4.097656-.785156-5.65625-2.34375-3.128906-3.128906-3.128906-8.183594 0-11.3125l48.71875-48.703125c3.128907-3.128906 8.183594-3.128906 11.3125 0 3.128907 3.125 3.128907 8.183594 0 11.308594l-48.71875 48.707031c-1.570312 1.558594-3.609374 2.34375-5.65625 2.34375zm0 0"></path><path d="m87.203125 360.480469c-2.050781 0-4.089844-.78125-5.648437-2.335938-3.136719-3.117187-3.136719-8.183593-.015626-11.308593l62.152344-62.3125c3.125-3.136719 8.183594-3.136719 11.3125-.015626 3.132813 3.117188 3.132813 8.183594.015625 11.308594l-62.152343 62.3125c-1.570313 1.578125-3.609376 2.351563-5.664063 2.351563zm0 0"></path><path d="m149.347656 298.171875c-2.050781 0-4.097656-.785156-5.65625-2.347656-3.128906-3.125-3.128906-8.183594 0-11.308594l44.734375-44.738281c3.128907-3.128906 8.183594-3.128906 11.3125 0 3.128907 3.128906 3.128907 8.183594 0 11.3125l-44.734375 44.734375c-1.5625 1.570312-3.609375 2.347656-5.65625 2.347656zm0 0"></path><path d="m115.464844 372.25c-.007813 0-.007813 0 0 0-12.847656 0-24.917969-5-33.992188-14.078125-3.125-3.128906-3.125-8.1875 0-11.3125 3.128906-3.128906 8.1875-3.128906 11.3125 0 6.058594 6.054687 14.105469 9.390625 22.671875 9.390625h.007813c8.5625 0 16.617187-3.335938 22.671875-9.390625 12.503906-12.503906 12.496093-32.847656-.007813-45.363281-3.125-3.125-3.125-8.183594 0-11.308594 3.128906-3.128906 8.183594-3.128906 11.3125 0 18.746094 18.742188 18.746094 49.230469.007813 67.984375-9.070313 9.078125-21.144531 14.078125-33.984375 14.078125zm0 0"></path><path d="m154.035156 343.003906c-1.199218 0-2.425781-.273437-3.570312-.84375l-32.984375-16.511718c-3.949219-1.984376-5.550781-6.789063-3.574219-10.734376 1.984375-3.960937 6.792969-5.535156 10.734375-3.574218l32.984375 16.511718c3.953125 1.984376 5.554688 6.789063 3.578125 10.734376-1.410156 2.800781-4.234375 4.417968-7.167969 4.417968zm0 0"></path><path d="m141.828125 362.347656c-1.203125 0-2.425781-.273437-3.578125-.839844l-37.75-18.90625c-3.945312-1.984374-5.546875-6.792968-3.570312-10.742187 1.976562-3.945313 6.761718-5.539063 10.746093-3.570313l37.75 18.90625c3.945313 1.984376 5.542969 6.789063 3.570313 10.742188-1.410156 2.792969-4.234375 4.410156-7.167969 4.410156zm0 0"></path><path d="m155.097656 236.050781c-2.046875 0-4.09375-.785156-5.65625-2.34375-3.128906-3.128906-3.128906-8.183593 0-11.3125l197.511719-197.519531c3.128906-3.128906 8.183594-3.128906 11.3125 0s3.128906 8.183594 0 11.3125l-197.511719 197.519531c-1.558594 1.558594-3.609375 2.34375-5.65625 2.34375zm0 0"></path><path d="m143.785156 240.722656c-6.152344 0-12.285156-2.335937-16.976562-7.007812-4.535156-4.535156-7.03125-10.570313-7.03125-16.984375 0-6.417969 2.503906-12.449219 7.039062-16.984375 3.128906-3.113282 8.195313-3.121094 11.320313.007812 3.121093 3.136719 3.121093 8.191406-.007813 11.320313-1.511718 1.503906-2.351562 3.511719-2.351562 5.65625s.832031 4.152343 2.34375 5.664062c3.128906 3.113281 8.191406 3.121094 11.320312 0 3.128906-3.128906 8.183594-3.128906 11.3125 0 3.128906 3.128907 3.128906 8.183594 0 11.3125-4.679687 4.679688-10.824218 7.015625-16.96875 7.015625zm0 0"></path><path d="m194.082031 253.441406c-2.046875 0-4.097656-.785156-5.65625-2.34375l-28.191406-28.167968c-3.128906-3.121094-3.128906-8.183594 0-11.3125 3.128906-3.128907 8.183594-3.128907 11.3125 0l28.191406 28.167968c3.128907 3.121094 3.128907 8.183594 0 11.3125-1.558593 1.558594-3.609375 2.34375-5.65625 2.34375zm0 0"></path><path d="m301.667969 134.753906c-2.050781 0-4.097657-.785156-5.65625-2.34375-3.128907-3.121094-3.128907-8.183594 0-11.3125 4.535156-4.535156 7.03125-10.566406 7.03125-16.984375 0-6.40625-2.503907-12.429687-7.039063-16.96875-3.128906-3.117187-3.128906-8.183593 0-11.308593 3.125-3.128907 8.183594-3.128907 11.308594 0 7.5625 7.550781 11.730469 17.597656 11.730469 28.277343.007812 10.679688-4.160157 20.738281-11.722657 28.296875-1.558593 1.558594-3.605468 2.34375-5.652343 2.34375zm0 0"></path><path d="m53.257812 315.363281c-2.046874 0-4.09375-.785156-5.65625-2.34375-3.128906-3.128906-3.128906-8.183593 0-11.3125 1.527344-1.527343 2.375-3.570312 2.375-5.730469 0-2.160156-.839843-4.183593-2.382812-5.71875-3.128906-3.128906-3.128906-8.183593-.007812-11.320312 3.128906-3.128906 8.191406-3.121094 11.320312-.007812 4.558594 4.558593 7.070312 10.609374 7.070312 17.046874.007813 6.433594-2.503906 12.488282-7.0625 17.042969-1.566406 1.558594-3.617187 2.34375-5.65625 2.34375zm0 0"></path><path d="m269.347656 415.226562c-2.050781 0-4.097656-.785156-5.65625-2.34375l-56.570312-56.570312c-3.125-3.125-3.125-8.183594 0-11.308594 3.128906-3.128906 8.183594-3.128906 11.3125 0l56.570312 56.566406c3.125 3.128907 3.125 8.183594 0 11.3125-1.5625 1.566407-3.609375 2.34375-5.65625 2.34375zm0 0"></path><path d="m291.96875 392.601562c-2.046875 0-4.09375-.785156-5.65625-2.34375l-56.558594-56.566406c-3.128906-3.128906-3.128906-8.183594 0-11.3125s8.183594-3.128906 11.3125 0l56.558594 56.566406c3.128906 3.128907 3.128906 8.183594 0 11.3125-1.558594 1.558594-3.605469 2.34375-5.65625 2.34375zm0 0"></path><path d="m266.523438 418.058594c-2.050782 0-4.097657-.785156-5.65625-2.34375-3.128907-3.128906-3.128907-8.183594 0-11.3125l28.277343-28.273438c3.128907-3.125 8.1875-3.125 11.3125 0 3.128907 3.128906 3.128907 8.183594 0 11.3125l-28.277343 28.273438c-1.570313 1.558594-3.609376 2.34375-5.65625 2.34375zm0 0"></path><path d="m212.777344 358.65625c-2.046875 0-4.09375-.78125-5.65625-2.34375-3.125-3.125-3.125-8.183594 0-11.308594l22.632812-22.625c3.128906-3.128906 8.183594-3.128906 11.3125 0s3.128906 8.183594 0 11.3125l-22.632812 22.621094c-1.558594 1.5625-3.605469 2.34375-5.65625 2.34375zm0 0"></path><path d="m285.617188 296.640625c-2.046876 0-4.09375-.78125-5.65625-2.34375-3.125-3.125-3.125-8.183594 0-11.3125l56.570312-56.566406c3.128906-3.128907 8.183594-3.128907 11.3125 0 3.125 3.128906 3.125 8.183593 0 11.3125l-56.570312 56.566406c-1.558594 1.5625-3.605469 2.34375-5.65625 2.34375zm0 0"></path><path d="m308.257812 319.265625c-2.046874 0-4.09375-.785156-5.65625-2.34375-3.128906-3.128906-3.128906-8.183594 0-11.3125l56.5625-56.566406c3.125-3.128907 8.183594-3.128907 11.308594 0 3.128906 3.128906 3.128906 8.183593 0 11.3125l-56.558594 56.566406c-1.566406 1.558594-3.617187 2.34375-5.65625 2.34375zm0 0"></path><path d="m311.074219 322.089844c-2.046875 0-4.097657-.785156-5.65625-2.34375l-28.28125-28.273438c-3.125-3.125-3.125-8.183594 0-11.3125 3.128906-3.125 8.183593-3.125 11.3125 0l28.28125 28.273438c3.128906 3.128906 3.128906 8.183594 0 11.3125-1.558594 1.558594-3.609375 2.34375-5.65625 2.34375zm0 0"></path><path d="m364.816406 262.699219c-2.046875 0-4.09375-.785157-5.652344-2.34375l-22.625-22.625c-3.128906-3.128907-3.128906-8.183594 0-11.3125 3.128907-3.128907 8.183594-3.128907 11.3125 0l22.621094 22.625c3.128906 3.128906 3.128906 8.183593 0 11.3125-1.558594 1.558593-3.605468 2.34375-5.65625 2.34375zm0 0"></path></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card border-left-primary shadow h-100 py-2 divhov">
                    <div class="card-body" onclick="PistolType(@rifleId)">
                        <div class="row no-gutters align-items-center">
                            <div class="col-10">
                                <div class="text-xl-left font-weight-bold text-primary mb-1">
                                    <h5><strong>রাইফেল </strong></h5>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <span id="TotalApplicant">@rifleCount</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <svg style="width:auto;height:auto;" viewBox="-43 0 512 512.00075" xmlns="http://www.w3.org/2000/svg"><path d="m46.824219 507.605469c5.855469 5.859375 15.355469 5.859375 21.210937 0l77.882813-77.878907c11.253906-11.257812 18.085937-26.523437 18.085937-42.4375v-59.992187l10.097656 10.601563c17.574219 17.574218 46.066407 17.574218 63.640626 0l21.210937-21.214844c17.574219-17.570313 17.574219-46.0625 0-63.636719l-10.605469-10.605469 63.640625-63.640625c11.714844-11.714843 11.714844-30.710937 0-42.425781l110.226563-110.765625c5.863281-5.859375 5.863281-15.347656 0-21.210937-5.863282-5.863282-15.351563-5.863282-21.214844 0l-120.832031 121.371093c-.003907 0-.003907.003907-.003907.003907l-31.816406 31.816406-21.214844-21.214844-21.214843 21.214844 21.21875 21.210937-63.640625 63.640625-21.214844-21.214844-21.214844 21.214844 21.214844 21.210938-33.78125 33.78125c-4.476562 4.480468-5.496094 11.230468-2.777344 16.953125 5.296875 11.144531 3.34375 24.910156-5.867187 34.121093l-95.460938 95.460938c-5.859375 5.855469-5.859375 15.351562 0 21.210938zm190.917969-233.34375c5.855468 5.859375 5.855468 15.355469 0 21.210937l-21.214844 21.214844c-5.859375 5.859375-15.355469 5.859375-21.210938 0l-10.609375-10.605469 42.425781-42.425781zm0 0"></path><path d="m258.953125 104.554688c5.941406-5.9375 5.941406-15.269532 0-21.210938l-21.210937-21.214844c-5.941407-5.941406-15.273438-5.941406-21.214844 0l-31.820313 31.820313 42.425781 42.425781zm0 0"></path><path d="m99.851562 178.804688 63.640626-63.640626 42.425781 42.425782-63.640625 63.636718zm0 0"></path><path d="m46.824219 231.835938c-5.941407 5.941406-5.941407 15.273437 0 21.214843l21.210937 21.210938c5.941406 5.941406 15.273438 5.941406 21.214844 0l31.820312-31.820313-42.425781-42.425781zm0 0"></path><path d="m174.101562 83.34375c-5.941406-5.941406-15.273437-5.941406-21.214843 0-5.9375 5.941406-5.9375 15.273438 0 21.210938l10.609375 10.609374 21.210937-21.214843zm0 0"></path><path d="m89.246094 168.195312c-5.9375-5.9375-15.269532-5.9375-21.210938 0-5.941406 5.941407-5.941406 15.273438 0 21.214844l10.605469 10.605469 21.214844-21.214844zm0 0"></path></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr />
        <div class="col-12 pt-2">
            <h5>ক্রয় তথ্য </h5>
        </div>
        <div class="card-body row">
            <div class="col-md-4 mb-4">
                <div class="card border-left-primary shadow h-100 py-2 divhov">
                    <div class="card-body" onclick="purchaseItems(@pistolid)" id="Pistol">
                        <div class="row no-gutters align-items-center">
                            <div class="col-10">
                                <div class="text-xl-left font-weight-bold text-primary mb-1">
                                    <h5><strong>পিস্তল</strong></h5>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <span id="TotalApplicant">@pistol_pCount</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <svg style="width:auto;height:auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125 125">
                                    <g>
                                        <path class="st0" d="M9.51,5.81l0.03-0.1c1.25-2.88,2.16-4.31,3.91-5.14c2.5-1.18,4.98-0.49,6.62,1.68 c0.78,1.03,1.38,2.24,1.85,3.56h82.67V5.26c0-2.82,2.31-5.13,5.13-5.13h5.39c0.97,0,1.77,0.8,1.77,1.77v3.9h1.29 c2.59,0,4.71,2.12,4.71,4.71v10.93H62.86v-6.3c0-1.1-0.89-1.99-1.99-1.99c-1.1,0-1.99,0.89-1.99,1.99v6.3h-4.78v-6.3 c0-1.1-0.89-1.99-1.99-1.99c-1.1,0-1.99,0.89-1.99,1.99v6.3h-4.78v-6.3c0-1.1-0.89-1.99-1.99-1.99c-1.1,0-1.99,0.89-1.99,1.99v6.3 h-4.78v-6.3c0-1.1-0.89-1.99-1.99-1.99c-1.1,0-1.99,0.89-1.99,1.99v6.3h-4.78v-6.3c0-1.1-0.89-1.99-1.99-1.99 c-1.1,0-1.99,0.89-1.99,1.99v6.3H19v-6.3c0-1.1-0.89-1.99-1.99-1.99c-1.1,0-1.99,0.89-1.99,1.99v6.3h-4.78v-6.3 c0-1.1-0.89-1.99-1.99-1.99c-1.1,0-1.99,0.89-1.99,1.99v6.3H0.27c-0.07,0-0.13,0-0.2,0.01C0.02,20.79,0,20.07,0,19.31v-8.8 c0-2.59,2.12-4.7,4.7-4.7H9.51L9.51,5.81z M122.88,25.44v2.67c0,2.59-2.12,4.71-4.71,4.71l-35.52,3.73V25.44H122.88L122.88,25.44z M78.68,36.96l-4.81,0.51c0.82,8.68-0.39,14.49-5.55,18.1c-4.85,3.39-13.12,4.45-26.6,3.76c-0.12-0.01-0.25-0.02-0.36-0.05 l-2.4,8.8H2.54c0.32-0.76,0.68-1.56,1.08-2.43c1.33-2.94,2.88-5.72,4.66-8.33c4.68-7.91,7.87-14.82,8.2-19.46 c0.77-10.83-12.62-0.46-15.8-12.42h78v11.33C78.67,36.83,78.67,36.9,78.68,36.96L78.68,36.96z M38.12,71.15l-1.43,5.24 c3.01,4.39,3.73,7.91,1.71,10.38c-2.93,3.59-8.13,2.66-12.22,2.66H7.01c-5.17-0.45-7.19-3.9-6.91-9.54c0-3.65,0.38-6.11,1.26-8.75 H38.12L38.12,71.15z M69.92,37.88L58.2,39.11c-1.28,0.04-2.5,0.17-3.66,0.4c0.05,0.16,0.08,0.34,0.08,0.51 c0.05,2.03,0.77,3.69,1.86,4.88c1.17,1.28,2.8,2.03,4.52,2.14c1.1,0.07,1.93,1.01,1.86,2.11c-0.07,1.1-1.01,1.93-2.11,1.86 c-2.74-0.17-5.32-1.38-7.2-3.42c-1.58-1.72-2.65-4.03-2.87-6.8c-3.79,1.91-6.5,5.61-7.57,12.03l-0.69,2.54 c12.26,0.6,19.63-0.27,23.63-3.06C69.76,49.72,70.58,45.04,69.92,37.88L69.92,37.88z"></path>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-4">
                <div class="card border-left-primary shadow h-100 py-2 divhov">
                    <div class="card-body" onclick="purchaseItems(@rivolberid)">
                        <div class="row no-gutters align-items-center">
                            <div class="col-10">
                                <div class="text-xl-left font-weight-bold text-primary mb-1">
                                    <h5><strong>রিভলভার</strong></h5>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <span id="TotalApplicant">@rivolber_pCount</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <svg style="width:auto;height:auto;" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.991 511.991" xml:space="preserve"><g>	<g>	<g>			<path d="M509.493,87.826c-1.601-1.601-3.772-2.499-6.035-2.498h-17.067c-14.132,0.015-25.585,11.468-25.6,25.6v8.533H136.524				c-4.303,0.003-7.931,3.206-8.467,7.475c-0.443,3.58-1.082,7.134-1.916,10.644c-15.668-8.611-33.839-11.513-51.409-8.21				c-2.727,0.677-4.946,2.653-5.934,5.284c-0.987,2.631-0.616,5.579,0.992,7.883l2.525,3.617				c7.853,11.316,12.226,24.682,12.58,38.451c-5.372,1.816-10.973,2.867-16.638,3.123c-0.465,0.036-0.927,0.111-1.38,0.225				c-0.372,0.036-0.74,0.096-1.104,0.181c-0.952,0.28-1.848,0.724-2.647,1.314c-0.108,0.081-0.179,0.205-0.283,0.291				c-0.696,0.578-1.294,1.265-1.772,2.033c-0.062,0.1-0.165,0.154-0.223,0.256c-0.121,0.213-0.12,0.45-0.221,0.668				c-0.214,0.368-0.399,0.752-0.554,1.149L0.949,394.162c-2.16,7.712-0.586,15.991,4.254,22.372				c4.84,6.381,12.387,10.129,20.396,10.128h78.425c8.077-0.042,15.032-5.707,16.708-13.608l17.882-89.756				c6.316,6.083,14.74,9.486,23.509,9.498h25.6c18.844-0.019,34.115-15.29,34.133-34.133v-8.533				c0.012-9.421,7.646-17.054,17.067-17.067h25.6c9.421-0.012,17.055-7.646,17.067-17.067v-42.667h186.175				c9.826-0.034,18.776-5.66,23.067-14.5l9.992-20.748c6.691-2.46,11.145-8.823,11.166-15.952V93.862				C511.992,91.598,511.093,89.427,509.493,87.826z M120.312,153.868c-4.298,8.918-10.757,16.621-18.79,22.407				c-1.29-10.914-4.628-21.487-9.84-31.164C101.794,145.664,111.62,148.67,120.312,153.868z M104.024,409.595H25.599				c-2.649,0.001-5.148-1.228-6.763-3.327c-1.616-2.099-2.165-4.829-1.487-7.39l55.913-189.423				c27.703,19.027,47.196,47.815,54.577,80.602L104.024,409.595z M204.79,298.662c-0.012,9.421-7.646,17.054-17.067,17.067h-25.6				c-9.421-0.012-17.054-7.646-17.067-17.067v-8.533c0.013-2.067,0.406-4.114,1.158-6.04l19.709,13.139				c3.919,2.558,9.168,1.482,11.764-2.412c2.596-3.894,1.571-9.153-2.297-11.787l-14.729-9.819c0.49-0.042,0.961-0.148,1.462-0.148				h25.6c9.421,0.012,17.054,7.646,17.067,17.067V298.662z M264.524,255.995h-25.6c-9.84,0.031-19.182,4.335-25.6,11.794				c-6.418-7.459-15.76-11.763-25.6-11.794h-25.6c-8.856,0.006-17.359,3.47-23.698,9.654c-9.851-25.7-26.597-48.187-48.396-64.99				c28.83-9.167,49.783-34.146,53.795-64.131h120.7V255.995z M477.857,110.929c0.003-4.712,3.822-8.53,8.533-8.533h8.533v17.067				h-17.067V110.929z M475.449,191.429c-1.427,2.947-4.409,4.822-7.683,4.833H281.591v-17.067h199.75L475.449,191.429z				 M281.591,162.129v-25.6h213.333l0.017,25.6H281.591z"></path>			<path d="M170.657,238.929h59.733c9.421-0.012,17.054-7.646,17.067-17.067v-51.2c-0.012-9.421-7.646-17.054-17.067-17.067h-59.733				c-9.421,0.012-17.054,7.646-17.067,17.067v51.2C153.603,231.283,161.237,238.916,170.657,238.929z M170.657,170.662h59.733				l0.006,17.067h-34.139c-4.713,0-8.533,3.82-8.533,8.533s3.82,8.533,8.533,8.533h34.144l0.006,17.067h-59.75V170.662z"></path>		</g>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card border-left-primary shadow h-100 py-2 divhov">
                    <div class="card-body" onclick="purchaseItems(@oneTubeGunid)">
                        <div class="row no-gutters align-items-center">
                            <div class="col-10">
                                <div class="text-xl-left font-weight-bold text-primary mb-1">
                                    <h5><strong>এক নলা আগ্নেয়াস্ত্র</strong></h5>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <span id="TotalApplicant">@oneTubeGun_pCount</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <svg style="width:auto;height:auto;" enable-background="new 0 0 512.003 512.003" viewBox="0 0 512.003 512.003" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m462.485 15.83-11.738-11.738c-2.639-2.639-6.146-4.092-9.878-4.092s-7.239 1.453-9.877 4.091l-183.643 183.643c-2.053 2.053-3.33 4.593-3.835 7.251l-37.838 37.838c-2.733.516-5.247 1.832-7.257 3.841l-27.942 27.941c-5.447 5.447-5.447 14.309 0 19.755l8.744 8.744c-5.755 9.381-11.382 22.903-12.43 40.79l-7.483-1.333c-6.811-1.214-13.796.983-18.686 5.874l-90.122 90.123c-3.435 3.436-5.278 8.188-5.056 13.042.223 4.854 2.492 9.419 6.228 12.526l28.177 23.434c1.401 1.165 3.102 1.733 4.792 1.733 2.151 0 4.287-.921 5.771-2.704 2.648-3.185 2.214-7.914-.971-10.563l-28.177-23.433c-.686-.571-.818-1.298-.835-1.681-.017-.382.047-1.118.678-1.748l9.359-9.359 31.485 31.485c4.165 4.164 9.69 6.743 15.559 7.262 2.364.209 4.59 1.248 6.269 2.927l11.997 11.998-6.184 12.246c-.439.869-1.191 1.142-1.601 1.227-.409.087-1.209.135-1.958-.488l-9.026-7.507c-3.185-2.646-7.914-2.213-10.562.971-2.649 3.185-2.214 7.913.97 10.563l9.026 7.507c3.151 2.62 7.042 4.009 11.043 4.009 1.181 0 2.372-.121 3.556-.367 5.196-1.079 9.548-4.414 11.941-9.151l56.581-112.034c7.89 2.782 17.037 1.023 23.337-5.275l13.872-13.871c6.856-6.856 8.543-17.256 4.196-25.875-.513-1.019-1.198-1.979-2.233-3.434-7.4-10.392-13.589-22.584-3.378-34.228.2-.229.405-.462.606-.691.085-.057.172-.107.256-.168.674-.494 1.31-.583 1.677-.503.187.041.216.093.26.172 1.007 1.809 2.258 3.465 3.715 4.922 4.351 4.351 10.405 6.726 16.946 6.726 1.005 0 2.023-.056 3.046-.17 7.175-.797 14.162-4.271 19.674-9.783 11.625-11.625 12.692-30.201 2.329-40.564-2.788-2.787-5.561-4.642-8.265-5.829 30.103-34.324 59.87-68.26 76.411-87.119l6.583-7.506c5.621-6.407 8.367-14.949 7.534-23.435l-.663-6.753c-.124-1.265-.414-2.477-.837-3.624l39.51-39.511c2.929-2.93 2.929-7.678 0-10.607-2.929-2.928-7.678-2.928-10.606 0l-40.877 40.878c-4.237-.451-8.47 1.001-11.596 4.127l-48.481 48.481-6.546-6.546 154.837-154.84 10.281 10.281-32.213 32.212c-2.929 2.93-2.929 7.678 0 10.607 2.929 2.928 7.678 2.928 10.606 0l32.941-32.942c2.639-2.638 4.092-6.146 4.092-9.877s-1.452-7.238-4.091-9.878zm-280.673 258.653 26.484-26.483 6.546 6.546-25.276 25.276c-.372.372-.771.784-1.189 1.226zm91.447 3.831c4.018 4.018 3.875 13.146-2.329 19.352-3.067 3.066-6.976 5.064-10.723 5.48-1.841.205-5.293.184-7.732-2.256-.475-.475-.884-1.018-1.215-1.612-1.078-1.935-2.511-3.566-4.217-4.837.58-.662 1.167-1.331 1.75-1.996l5.614 4.117c1.336.98 2.89 1.453 4.429 1.453 2.308 0 4.584-1.063 6.054-3.065 2.449-3.341 1.727-8.034-1.613-10.483l-4.557-3.341c1.649-1.881 3.305-3.768 4.964-5.661 3.836-.882 6.203-.524 9.575 2.849zm77.417-138.388.526 5.357c.429 4.374-.985 8.776-3.882 12.078l-6.584 7.506c-24.101 27.477-76.27 86.954-116.657 133.01-19.414 22.138-2.967 45.23 2.438 52.819.413.58.92 1.293 1.111 1.594 1.357 2.804.777 6.168-1.462 8.406l-13.872 13.871c-2.892 2.891-7.596 2.891-10.487 0-.176-.176-8.033-8.032-8.033-8.032-2.929-2.928-7.678-2.928-10.606 0-2.929 2.93-2.929 7.678 0 10.607l4.194 4.194-44.466 88.045-8.51-8.51c-4.166-4.165-9.691-6.744-15.557-7.261-2.365-.209-4.592-1.249-6.271-2.928l-8.449-8.449 22.333-26.315c2.68-3.157 2.293-7.891-.865-10.57-3.158-2.681-7.891-2.292-10.571.865l-21.538 25.378-12.394-12.394 70.155-70.156c1.427-1.427 3.468-2.071 5.45-1.714l16.167 2.881c2.226.397 4.507-.231 6.216-1.706 1.709-1.476 2.663-3.643 2.596-5.9-.9-30.331 13.944-47.604 18.515-52.175l38.351-38.351c2.929-2.93 2.929-7.678 0-10.607-2.929-2.928-7.678-2.928-10.606 0l-2.468 2.469-4.838-4.837 29.176-29.175 4.837 4.837-1.302 1.302c-2.929 2.93-2.929 7.678 0 10.607 2.929 2.928 7.678 2.928 10.606 0zm-68.704 47.49-16.741 16.741-6.546-6.546 16.741-16.741z"></path><path d="m171.619 381.134c-3.412-2.348-8.081-1.488-10.431 1.923l-34.616 50.262c-2.35 3.411-1.489 8.081 1.923 10.431 1.299.895 2.781 1.324 4.247 1.324 2.384 0 4.729-1.135 6.184-3.247l34.616-50.262c2.35-3.412 1.489-8.082-1.923-10.431z"></path><path d="m129.783 398.743c1.41 1.197 3.134 1.782 4.849 1.782 2.126 0 4.239-.899 5.722-2.646l7.237-8.526c2.68-3.158 2.293-7.892-.865-10.571-3.157-2.681-7.891-2.292-10.571.864l-7.237 8.526c-2.68 3.158-2.293 7.891.865 10.571z"></path></g></g></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card border-left-primary shadow h-100 py-2 divhov">
                    <div class="card-body" onclick="purchaseItems(@twoTubeGunid)">
                        <div class="row no-gutters align-items-center">
                            <div class="col-10">
                                <div class="text-xl-left font-weight-bold text-primary mb-1">
                                    <h5><strong>দুই নলা আগ্নেয়াস্ত্র</strong></h5>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <span id="TotalApplicant">@twoTubeGun_pCount</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 296.456 296.456" style="width:auto;height:auto;" xml:space="preserve"><g>	<path d="M261.904,20.065c-3.797-0.871-7.582,1.5-8.455,5.296c-0.055,0.237-0.124,0.469-0.181,0.705		c18.542,11.525,31.151,30.923,34.036,52.712c3.643,0.6,7.174-1.724,8.013-5.375C300.819,49.448,285.86,25.567,261.904,20.065z"></path>	<path d="M248.068,40.591c-5.847,12.077-14.989,22.394-26.543,29.63L78.764,159.649c-2.252,1.41-3.852,3.658-4.446,6.248		c-0.06,0.26-0.101,0.52-0.14,0.782l-13.775-2.193c-4.093-0.658-7.936,2.137-8.586,6.227c-0.651,4.091,2.137,7.936,6.226,8.586		l8.063,1.284l-7.739,4.848l0.001,0.001L7.036,217.586c-7.018,4.396-9.144,13.649-4.747,20.667l19.598,31.284		c2.737,4.37,7.528,7.027,12.685,7.034c5.157,0.008,9.955-2.636,12.705-6.998l44.39-70.42l10.83-6.784l4.641,7.408		c2.663,4.251,7.25,6.789,12.27,6.789c2.714,0,5.368-0.763,7.674-2.208l9.503-5.952c6.761-4.235,8.816-13.182,4.581-19.943		l-4.641-7.409l59.212-37.091c4.689-2.938,6.109-9.121,3.172-13.812l-5.048-8.059l38.704-24.245		c11.84-7.415,25.481-11.148,39.236-10.949C268.84,62.203,260.284,49.163,248.068,40.591z M70.504,208.449l-39.942,26.822		c-1.284,0.861-2.737,1.274-4.175,1.274c-2.415,0-4.786-1.164-6.233-3.319c-2.309-3.439-1.394-8.099,2.045-10.408l39.942-26.822		c3.441-2.309,8.1-1.394,10.408,2.045C74.858,201.48,73.943,206.139,70.504,208.449z M119.569,191.365l-4.359-6.959l8.604-5.39		l4.358,6.959L119.569,191.365z"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card border-left-primary shadow h-100 py-2 divhov">
                    <div class="card-body" onclick="purchaseItems(@shotgunid)">
                        <div class="row no-gutters align-items-center">
                            <div class="col-10">
                                <div class="text-xl-left font-weight-bold text-primary mb-1">
                                    <h5><strong>শটগান</strong></h5>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <span id="TotalApplicant">@shotgun_pCount</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <svg style="width:auto;height:auto;" viewBox="-70 0 511 511.90602" xmlns="http://www.w3.org/2000/svg"><path d="m53.25 292.59375c-2.046875 0-4.105469-.785156-5.664062-2.34375l-5.648438-5.65625c-1.734375-1.75-2.574219-4.191406-2.269531-6.640625.292969-2.445313 1.710937-4.605469 3.832031-5.871094l27.4375-16.449219 253.320312-253.285156c3.121094-3.121094 8.167969-3.128906 11.289063-.027344l22.703125 22.53125c3.144531 3.117188 3.160156 8.175782.046875 11.308594-3.109375 3.144532-8.183594 3.160156-11.3125.050782l-17.046875-16.921876-248.390625 248.351563c-.464844.464844-.984375.867187-1.542969 1.203125l-19.769531 11.847656c1.703125 3.046875 1.257813 6.964844-1.328125 9.558594-1.566406 1.558594-3.617188 2.34375-5.65625 2.34375zm0 0"></path><path d="m188.523438 247.890625c-2.050782 0-4.097657-.785156-5.65625-2.34375-3.128907-3.128906-3.128907-8.183594 0-11.3125l113.152343-113.144531c3.125-3.128906 8.183594-3.128906 11.3125 0 3.125 3.128906 3.125 8.183594 0 11.3125l-113.152343 113.144531c-1.570313 1.566406-3.609376 2.34375-5.65625 2.34375zm0 0"></path><path d="m149.347656 298.171875c-2.050781 0-4.097656-.785156-5.65625-2.347656l-45.160156-45.160157c-3.128906-3.125-3.128906-8.183593 0-11.308593 3.128906-3.128907 8.183594-3.128907 11.3125 0l45.160156 45.160156c3.125 3.125 3.125 8.183594 0 11.308594-1.5625 1.570312-3.609375 2.347656-5.65625 2.347656zm0 0"></path><path d="m37.617188 511.90625c-2.480469 0-4.910157-1.144531-6.480469-3.296875-46.453125-63.945313-39.527344-151.007813 16.472656-207.015625 3.128906-3.128906 8.183594-3.128906 11.3125 0s3.128906 8.183594 0 11.3125c-50.398437 50.40625-56.640625 128.757812-14.839844 186.296875 2.601563 3.574219 1.808594 8.574219-1.769531 11.167969-1.414062 1.039062-3.0625 1.535156-4.695312 1.535156zm0 0"></path><path d="m87.203125 462.3125c-2.050781 0-4.097656-.78125-5.65625-2.34375-31.191406-31.191406-31.191406-81.941406 0-113.144531 3.128906-3.125 8.183594-3.125 11.3125 0 3.125 3.128906 3.125 8.1875 0 11.3125-24.953125 24.953125-24.953125 65.5625 0 90.511719 3.125 3.128906 3.125 8.1875 0 11.3125-1.570313 1.570312-3.609375 2.351562-5.65625 2.351562zm0 0"></path><path d="m38.507812 511.035156c-2.050781 0-4.097656-.785156-5.65625-2.34375-3.128906-3.128906-3.128906-8.183594 0-11.3125l48.71875-48.703125c3.128907-3.128906 8.183594-3.128906 11.3125 0 3.128907 3.125 3.128907 8.183594 0 11.308594l-48.71875 48.707031c-1.570312 1.558594-3.609374 2.34375-5.65625 2.34375zm0 0"></path><path d="m87.203125 360.480469c-2.050781 0-4.089844-.78125-5.648437-2.335938-3.136719-3.117187-3.136719-8.183593-.015626-11.308593l62.152344-62.3125c3.125-3.136719 8.183594-3.136719 11.3125-.015626 3.132813 3.117188 3.132813 8.183594.015625 11.308594l-62.152343 62.3125c-1.570313 1.578125-3.609376 2.351563-5.664063 2.351563zm0 0"></path><path d="m149.347656 298.171875c-2.050781 0-4.097656-.785156-5.65625-2.347656-3.128906-3.125-3.128906-8.183594 0-11.308594l44.734375-44.738281c3.128907-3.128906 8.183594-3.128906 11.3125 0 3.128907 3.128906 3.128907 8.183594 0 11.3125l-44.734375 44.734375c-1.5625 1.570312-3.609375 2.347656-5.65625 2.347656zm0 0"></path><path d="m115.464844 372.25c-.007813 0-.007813 0 0 0-12.847656 0-24.917969-5-33.992188-14.078125-3.125-3.128906-3.125-8.1875 0-11.3125 3.128906-3.128906 8.1875-3.128906 11.3125 0 6.058594 6.054687 14.105469 9.390625 22.671875 9.390625h.007813c8.5625 0 16.617187-3.335938 22.671875-9.390625 12.503906-12.503906 12.496093-32.847656-.007813-45.363281-3.125-3.125-3.125-8.183594 0-11.308594 3.128906-3.128906 8.183594-3.128906 11.3125 0 18.746094 18.742188 18.746094 49.230469.007813 67.984375-9.070313 9.078125-21.144531 14.078125-33.984375 14.078125zm0 0"></path><path d="m154.035156 343.003906c-1.199218 0-2.425781-.273437-3.570312-.84375l-32.984375-16.511718c-3.949219-1.984376-5.550781-6.789063-3.574219-10.734376 1.984375-3.960937 6.792969-5.535156 10.734375-3.574218l32.984375 16.511718c3.953125 1.984376 5.554688 6.789063 3.578125 10.734376-1.410156 2.800781-4.234375 4.417968-7.167969 4.417968zm0 0"></path><path d="m141.828125 362.347656c-1.203125 0-2.425781-.273437-3.578125-.839844l-37.75-18.90625c-3.945312-1.984374-5.546875-6.792968-3.570312-10.742187 1.976562-3.945313 6.761718-5.539063 10.746093-3.570313l37.75 18.90625c3.945313 1.984376 5.542969 6.789063 3.570313 10.742188-1.410156 2.792969-4.234375 4.410156-7.167969 4.410156zm0 0"></path><path d="m155.097656 236.050781c-2.046875 0-4.09375-.785156-5.65625-2.34375-3.128906-3.128906-3.128906-8.183593 0-11.3125l197.511719-197.519531c3.128906-3.128906 8.183594-3.128906 11.3125 0s3.128906 8.183594 0 11.3125l-197.511719 197.519531c-1.558594 1.558594-3.609375 2.34375-5.65625 2.34375zm0 0"></path><path d="m143.785156 240.722656c-6.152344 0-12.285156-2.335937-16.976562-7.007812-4.535156-4.535156-7.03125-10.570313-7.03125-16.984375 0-6.417969 2.503906-12.449219 7.039062-16.984375 3.128906-3.113282 8.195313-3.121094 11.320313.007812 3.121093 3.136719 3.121093 8.191406-.007813 11.320313-1.511718 1.503906-2.351562 3.511719-2.351562 5.65625s.832031 4.152343 2.34375 5.664062c3.128906 3.113281 8.191406 3.121094 11.320312 0 3.128906-3.128906 8.183594-3.128906 11.3125 0 3.128906 3.128907 3.128906 8.183594 0 11.3125-4.679687 4.679688-10.824218 7.015625-16.96875 7.015625zm0 0"></path><path d="m194.082031 253.441406c-2.046875 0-4.097656-.785156-5.65625-2.34375l-28.191406-28.167968c-3.128906-3.121094-3.128906-8.183594 0-11.3125 3.128906-3.128907 8.183594-3.128907 11.3125 0l28.191406 28.167968c3.128907 3.121094 3.128907 8.183594 0 11.3125-1.558593 1.558594-3.609375 2.34375-5.65625 2.34375zm0 0"></path><path d="m301.667969 134.753906c-2.050781 0-4.097657-.785156-5.65625-2.34375-3.128907-3.121094-3.128907-8.183594 0-11.3125 4.535156-4.535156 7.03125-10.566406 7.03125-16.984375 0-6.40625-2.503907-12.429687-7.039063-16.96875-3.128906-3.117187-3.128906-8.183593 0-11.308593 3.125-3.128907 8.183594-3.128907 11.308594 0 7.5625 7.550781 11.730469 17.597656 11.730469 28.277343.007812 10.679688-4.160157 20.738281-11.722657 28.296875-1.558593 1.558594-3.605468 2.34375-5.652343 2.34375zm0 0"></path><path d="m53.257812 315.363281c-2.046874 0-4.09375-.785156-5.65625-2.34375-3.128906-3.128906-3.128906-8.183593 0-11.3125 1.527344-1.527343 2.375-3.570312 2.375-5.730469 0-2.160156-.839843-4.183593-2.382812-5.71875-3.128906-3.128906-3.128906-8.183593-.007812-11.320312 3.128906-3.128906 8.191406-3.121094 11.320312-.007812 4.558594 4.558593 7.070312 10.609374 7.070312 17.046874.007813 6.433594-2.503906 12.488282-7.0625 17.042969-1.566406 1.558594-3.617187 2.34375-5.65625 2.34375zm0 0"></path><path d="m269.347656 415.226562c-2.050781 0-4.097656-.785156-5.65625-2.34375l-56.570312-56.570312c-3.125-3.125-3.125-8.183594 0-11.308594 3.128906-3.128906 8.183594-3.128906 11.3125 0l56.570312 56.566406c3.125 3.128907 3.125 8.183594 0 11.3125-1.5625 1.566407-3.609375 2.34375-5.65625 2.34375zm0 0"></path><path d="m291.96875 392.601562c-2.046875 0-4.09375-.785156-5.65625-2.34375l-56.558594-56.566406c-3.128906-3.128906-3.128906-8.183594 0-11.3125s8.183594-3.128906 11.3125 0l56.558594 56.566406c3.128906 3.128907 3.128906 8.183594 0 11.3125-1.558594 1.558594-3.605469 2.34375-5.65625 2.34375zm0 0"></path><path d="m266.523438 418.058594c-2.050782 0-4.097657-.785156-5.65625-2.34375-3.128907-3.128906-3.128907-8.183594 0-11.3125l28.277343-28.273438c3.128907-3.125 8.1875-3.125 11.3125 0 3.128907 3.128906 3.128907 8.183594 0 11.3125l-28.277343 28.273438c-1.570313 1.558594-3.609376 2.34375-5.65625 2.34375zm0 0"></path><path d="m212.777344 358.65625c-2.046875 0-4.09375-.78125-5.65625-2.34375-3.125-3.125-3.125-8.183594 0-11.308594l22.632812-22.625c3.128906-3.128906 8.183594-3.128906 11.3125 0s3.128906 8.183594 0 11.3125l-22.632812 22.621094c-1.558594 1.5625-3.605469 2.34375-5.65625 2.34375zm0 0"></path><path d="m285.617188 296.640625c-2.046876 0-4.09375-.78125-5.65625-2.34375-3.125-3.125-3.125-8.183594 0-11.3125l56.570312-56.566406c3.128906-3.128907 8.183594-3.128907 11.3125 0 3.125 3.128906 3.125 8.183593 0 11.3125l-56.570312 56.566406c-1.558594 1.5625-3.605469 2.34375-5.65625 2.34375zm0 0"></path><path d="m308.257812 319.265625c-2.046874 0-4.09375-.785156-5.65625-2.34375-3.128906-3.128906-3.128906-8.183594 0-11.3125l56.5625-56.566406c3.125-3.128907 8.183594-3.128907 11.308594 0 3.128906 3.128906 3.128906 8.183593 0 11.3125l-56.558594 56.566406c-1.566406 1.558594-3.617187 2.34375-5.65625 2.34375zm0 0"></path><path d="m311.074219 322.089844c-2.046875 0-4.097657-.785156-5.65625-2.34375l-28.28125-28.273438c-3.125-3.125-3.125-8.183594 0-11.3125 3.128906-3.125 8.183593-3.125 11.3125 0l28.28125 28.273438c3.128906 3.128906 3.128906 8.183594 0 11.3125-1.558594 1.558594-3.609375 2.34375-5.65625 2.34375zm0 0"></path><path d="m364.816406 262.699219c-2.046875 0-4.09375-.785157-5.652344-2.34375l-22.625-22.625c-3.128906-3.128907-3.128906-8.183594 0-11.3125 3.128907-3.128907 8.183594-3.128907 11.3125 0l22.621094 22.625c3.128906 3.128906 3.128906 8.183593 0 11.3125-1.558594 1.558593-3.605468 2.34375-5.65625 2.34375zm0 0"></path></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card border-left-primary shadow h-100 py-2 divhov">
                    <div class="card-body" onclick="purchaseItems(@rifleid)">
                        <div class="row no-gutters align-items-center">
                            <div class="col-10">
                                <div class="text-xl-left font-weight-bold text-primary mb-1">
                                    <h5><strong>রাইফেল </strong></h5>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <span id="TotalApplicant">@rifle_pCount</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <svg style="width:auto;height:auto;" viewBox="-43 0 512 512.00075" xmlns="http://www.w3.org/2000/svg"><path d="m46.824219 507.605469c5.855469 5.859375 15.355469 5.859375 21.210937 0l77.882813-77.878907c11.253906-11.257812 18.085937-26.523437 18.085937-42.4375v-59.992187l10.097656 10.601563c17.574219 17.574218 46.066407 17.574218 63.640626 0l21.210937-21.214844c17.574219-17.570313 17.574219-46.0625 0-63.636719l-10.605469-10.605469 63.640625-63.640625c11.714844-11.714843 11.714844-30.710937 0-42.425781l110.226563-110.765625c5.863281-5.859375 5.863281-15.347656 0-21.210937-5.863282-5.863282-15.351563-5.863282-21.214844 0l-120.832031 121.371093c-.003907 0-.003907.003907-.003907.003907l-31.816406 31.816406-21.214844-21.214844-21.214843 21.214844 21.21875 21.210937-63.640625 63.640625-21.214844-21.214844-21.214844 21.214844 21.214844 21.210938-33.78125 33.78125c-4.476562 4.480468-5.496094 11.230468-2.777344 16.953125 5.296875 11.144531 3.34375 24.910156-5.867187 34.121093l-95.460938 95.460938c-5.859375 5.855469-5.859375 15.351562 0 21.210938zm190.917969-233.34375c5.855468 5.859375 5.855468 15.355469 0 21.210937l-21.214844 21.214844c-5.859375 5.859375-15.355469 5.859375-21.210938 0l-10.609375-10.605469 42.425781-42.425781zm0 0"></path><path d="m258.953125 104.554688c5.941406-5.9375 5.941406-15.269532 0-21.210938l-21.210937-21.214844c-5.941407-5.941406-15.273438-5.941406-21.214844 0l-31.820313 31.820313 42.425781 42.425781zm0 0"></path><path d="m99.851562 178.804688 63.640626-63.640626 42.425781 42.425782-63.640625 63.636718zm0 0"></path><path d="m46.824219 231.835938c-5.941407 5.941406-5.941407 15.273437 0 21.214843l21.210937 21.210938c5.941406 5.941406 15.273438 5.941406 21.214844 0l31.820312-31.820313-42.425781-42.425781zm0 0"></path><path d="m174.101562 83.34375c-5.941406-5.941406-15.273437-5.941406-21.214843 0-5.9375 5.941406-5.9375 15.273438 0 21.210938l10.609375 10.609374 21.210937-21.214843zm0 0"></path><path d="m89.246094 168.195312c-5.9375-5.9375-15.269532-5.9375-21.210938 0-5.941406 5.941407-5.941406 15.273438 0 21.214844l10.605469 10.605469 21.214844-21.214844zm0 0"></path></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>





        <div class="modal fade" id="liTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="max-width:1200px;height:500px">
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="hidden" id="" value="">
                        <h5 class="modal-title" id="exampleModalLabel">বিস্তারিত </h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-window-close"></i></span>
                            <span id="txtDate"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*<div id="loaderLiType" style="display:none;">
                            <img src="~/img/ezgif.com-gif-maker4.gif" />
                        </div>*@
                        <div id="DivLiType">
                            <table class="table table-bordered table-striped" id="tblLiType">
                                <thead>
                                    <tr>
                                        <th id="thLI">ডিলারের নাম</th>
                                        <th> আগ্নেয়াস্ত্রের ধরন </th>
                                        <th>লাইসেন্স নং </th>
                                        <th> চালান নাম্বার </th>
                                        <th>চালানের তারিখ </th>
                                        <th>সর্বমোট </th>
                                        <th>সম্পাদনা করুন </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="max-width:1200px;height:500px">
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="hidden" id="" value="">
                        <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-window-close"></i></span>
                            <span id="txtDate"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*<div id="loaderLiType" style="display:none;">
                            <img src="~/img/ezgif.com-gif-maker4.gif" />
                        </div>*@
                        <div id="DivLiType">
                            <table class="table table-bordered table-striped" id="purchasetable">
                                <thead>
                                    <tr>
                                        <th id="thLI">ডিলারের নাম</th>
                                        <th>সরবরাহকারির নাম </th>
                                        <th>আগ্নেয়াস্ত্রের ধরন</th>
                                        <th>পি.ও নাম্বার </th>
                                        <th>এল.ছি এর তারিখ </th>
                                        <th>সর্বমোট</th>
                                        <th>সম্পাদনা করুন</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>




    </div>
</div>


@section Scripts{
    <script>
        function PistolType(id) {
            Common.Ajax('GET', '/FAMSDEALER/Dashboard/GetAllSalesInvoiceItemDetalis/' + id, [], 'json', pistolList);
        }
        function pistolList(response) {
            $("#tblLiType").DataTable().destroy();
            var tbl = $("#tblLiType");
            var tbody = tbl.find('tbody');
            tbody.empty();
            var trHtml = '';
            $.each(response.dashboardArmsTypeViewModels, function (key, value) {

                var url = '';
                if (value.LicenseTypeId === 1) {
                    url = '/FAMSAPP/PersonalInfo/Menu?id=' + value.LiIdFor
                }
                trHtml += '<tr><td>' + value.dealerName + '</td><td>' + value.armsType + '</td><td>' + value.licenseNumber + '</td><td>' + value.invoiceNumber + '</td>' +
                    '<td>' + value.invoiceDate + '</td>' +
                    '<td>' + value.netTotal + '</td>' +
                    '<td><a class="btn btn-info" title="Edit" href="' + url + '"><i class="fa fa-edit"></i></a></td></tr>'
            })
            tbody.append(trHtml);
            $("#tblLiType").DataTable({
                stateSave: true,
                dom: "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-3'B><'col-sm-12 col-md-7'f>>" +
                    "<'row'<'col-sm-12't>>" + "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'pr>>",
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel',
                        titleAttr: 'Excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        },
                        title: 'Sales Arms information',
                        messageTop: 'License Details',
                        class: 'btn btn-info'
                    },

                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Print',
                        titleAttr: 'Print',
                        title: 'Arms Type',
                        messageTop: 'License Details',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        },
                        customize: function (doc) {
                            $(doc.document.body).find('h1').css('font-size', '20pt');
                            $(doc.document.body).find('h1').css('font-family', "'Times New Roman', Times, serif");
                            $(doc.document.body).find('h1').css('text-align', 'center');
                        }
                    }
                ]
            });

            $('#liTypeModal').modal('show');
            $("#thLI").click();
        }




        function purchaseItems(id) {
            Common.Ajax('GET', '/FAMSDEALER/Dashboard/GetAllPurchaseItemDetalis/' + id, [], 'json', purchaseItemsList);
        }
        function purchaseItemsList(response) {
            $("#purchasetable").DataTable().destroy();
            var tbl = $("#purchasetable");
            var tbody = tbl.find('tbody');
            tbody.empty();
            var trHtml = '';
            $.each(response.dashboardPurchaseViewModels, function (key, value) {
                console.log(value.dealerName);
                var url = '';
                if (value.LicenseTypeId === 1) {
                    url = '/FAMSAPP/PersonalInfo/Menu?id=' + value.LiIdFor
                }

                trHtml += '<tr><td>' + value.dealerName + '</td><td>' + value.supplierName + '</td><td>' + value.armsType + '</td><td>' + value.poNo + '</td>' +
                    '<td>' + value.lcDate + '</td>' +
                    '<td>' + value.subTotal + '</td>' +
                    '<td><a class="btn btn-info" title="Edit" href="' + url + '"><i class="fa fa-edit"></i></a></td></tr>'
            })
            tbody.append(trHtml);
            $("#purchasetable").DataTable({
                stateSave: true,
                dom: "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-3'B><'col-sm-12 col-md-7'f>>" +
                    "<'row'<'col-sm-12't>>" + "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'pr>>",
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel',
                        titleAttr: 'Excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        },
                        title: 'Arms Type',
                        messageTop: 'License Details',
                        class: 'btn btn-info'
                    },

                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Print',
                        titleAttr: 'Print',
                        title: 'Arms Type',
                        messageTop: 'License Details',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        },
                        customize: function (doc) {
                            $(doc.document.body).find('h1').css('font-size', '20pt');
                            $(doc.document.body).find('h1').css('font-family', "'Times New Roman', Times, serif");
                            $(doc.document.body).find('h1').css('text-align', 'center');
                        }
                    }
                ]
            });

            $('#purchaseModal').modal('show');
            $("#thLI").click();
        }



    </script>
}