@using FADMS.DAL.AuthService.Interfaces
@using System

@inject IUserInfoes userInfo
@{

    var userInfos = await userInfo.GetUserInfoByUser(@User.Identity.Name);
    var userthana = await userInfo.GetUserInfoByThana(@User.Identity.Name);
    var menu = await userInfo.GetMenuByUserName(User.Identity.Name);
    var InfoImage = await userInfo.GetUserInfoByUserNameNew(@User.Identity?.Name);
    //string orgTitle = string.Empty;


    string url = "";
    string admin = "অ্যাডমিন ইউজার";
    string Dealeradmin = "ডিলার অ্যাডমিন ইউজার";
    string Dealer = "ডিলার ইউজার";
    string thana = "থানা ইউজার";
    string dist = "জেলা অ্যাডমিন ইউজার";
    string distGen = "জেলা জেনারেল ইউজার";
    var userRoleId = await userInfo.GetUserRoleIdByUserName(User.Identity.Name);
    //Dealer & admin
    if (userRoleId == "9ae09ccf-6fd3-4b36-aabb-95324e13485c")
    {
        url = Dealeradmin;
    }
    //Dealer & admin
    if (userRoleId == "5774a0e1-f858-4d82-a29a-5b9b0e003afc")
    {
        url = Dealer;
    }
    //sbadmin & admin
    if (userRoleId == "a3b6f86f-f910-4387-b579-041e4b8a1792" || userRoleId == "04AED4C4-EF8F-4704-9EC5-0B38CAAACBEB")
    {
        url = admin;
    }
    //DistrictSbAdmin
    if (userRoleId == "809f6aac-93dc-4407-a1f2-93be4f8f01f0")
    {
        url = @userthana?.district?.districtNameBn + "  " + dist;
    }
    //District General User
    if (userRoleId == "8211f581-a71e-4fc9-b5df-12b84d6aeec9")
    {
        url = @userthana?.district?.districtNameBn + "  " + distGen;
    }
    //Thana user
    if (userRoleId == "95f288f0-a648-445a-8eb9-7c734257fab5")
    {
        url = @userthana?.thana?.thanaNameBn + "  " + thana;
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - FADMS</title>

    <link rel="shortcut icon" href="~/appslogo/Specialbranch.png" type="image/x-icon" />

    @*<link href="~/CustomSelectOption/select2.min.css" rel="stylesheet" />
        <link href="~/SweetAlert/sweetalert2.css" rel="stylesheet" />*@
    <!-- Custom fonts for this template-->
    @*<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">*@
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom Date Picker-->
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this page -->
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="~/css/drawerstyle.css">
    <link href="~/SweetAlert/sweetalert2.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/fontawesome.min.js"></script>
    <script src="~/SweetAlert/sweetalert2.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    @*<link href="~/css/jqueryui.css" rel="stylesheet" />
        <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
        <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />*@
    @RenderSection("Style", required: false)
    <style>
        body {
            /*font-family: 'Ubuntu', sans-serif;*/
            font-family: 'Lato', sans-serif;
        }

        .scroll-wrapper {
            overflow: hidden !important;
            padding: 0 !important;
            position: relative;
        }

            .scroll-wrapper > .scroll-content {
                border: none !important;
                box-sizing: content-box !important;
                height: auto;
                left: 0;
                margin: 0;
                max-height: none;
                max-width: none !important;
                overflow: scroll !important;
                padding: 0;
                position: relative !important;
                top: 0;
                width: auto !important;
            }

                .scroll-wrapper > .scroll-content::-webkit-scrollbar {
                    height: 0;
                    width: 0;
                }

        .scroll-element {
            display: none;
        }

            .scroll-element, .scroll-element div {
                box-sizing: content-box;
            }

                .scroll-element.scroll-x.scroll-scrollx_visible,
                .scroll-element.scroll-y.scroll-scrolly_visible {
                    display: block;
                }

                .scroll-element .scroll-bar,
                .scroll-element .scroll-arrow {
                    cursor: default;
                }

        .scroll-textarea {
            border: 1px solid #cccccc;
            border-top-color: #999999;
        }

            .scroll-textarea > .scroll-content {
                overflow: hidden !important;
            }

                .scroll-textarea > .scroll-content > textarea {
                    border: none !important;
                    box-sizing: border-box;
                    height: 100% !important;
                    margin: 0;
                    max-height: none !important;
                    max-width: none !important;
                    overflow: scroll !important;
                    outline: none;
                    padding: 2px;
                    position: relative !important;
                    top: 0;
                    width: 100% !important;
                }

                    .scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
                        height: 0;
                        width: 0;
                    }

        /*************** SCROLLBAR DYNAMIC ***************/

        .scrollbar-dynamic > .scroll-element,
        .scrollbar-dynamic > .scroll-element div {
            background: none;
            border: none;
            margin: 0;
            padding: 0;
            position: absolute;
            z-index: 10;
        }

            .scrollbar-dynamic > .scroll-element div {
                display: block;
                height: 100%;
                left: 0;
                top: 0;
                width: 100%;
            }

            .scrollbar-dynamic > .scroll-element.scroll-x {
                bottom: 2px;
                height: 7px;
                left: 0;
                min-width: 100%;
                width: 100%;
            }

            .scrollbar-dynamic > .scroll-element.scroll-y {
                height: 100%;
                min-height: 100%;
                right: 2px;
                top: 0;
                width: 7px;
            }

            .scrollbar-dynamic > .scroll-element .scroll-element_outer {
                opacity: 0.3;
                -webkit-border-radius: 12px;
                -moz-border-radius: 12px;
                border-radius: 12px;
            }

            .scrollbar-dynamic > .scroll-element .scroll-element_size {
                background-color: #cccccc;
                opacity: 0;
                -webkit-border-radius: 12px;
                -moz-border-radius: 12px;
                border-radius: 12px;
                -webkit-transition: opacity 0.2s;
                -moz-transition: opacity 0.2s;
                -o-transition: opacity 0.2s;
                -ms-transition: opacity 0.2s;
                transition: opacity 0.2s;
            }

            .scrollbar-dynamic > .scroll-element .scroll-bar {
                background-color: #6c6e71;
                -webkit-border-radius: 7px;
                -moz-border-radius: 7px;
                border-radius: 7px;
            }

            /* scrollbar height/width & offset from container borders */

            .scrollbar-dynamic > .scroll-element.scroll-x .scroll-bar {
                bottom: 0;
                height: 7px;
                min-width: 24px;
                top: auto;
            }

            .scrollbar-dynamic > .scroll-element.scroll-y .scroll-bar {
                left: auto;
                min-height: 24px;
                right: 0;
                width: 7px;
            }

            .scrollbar-dynamic > .scroll-element.scroll-x .scroll-element_outer {
                bottom: 0;
                top: auto;
                left: 2px;
                -webkit-transition: height 0.2s;
                -moz-transition: height 0.2s;
                -o-transition: height 0.2s;
                -ms-transition: height 0.2s;
                transition: height 0.2s;
            }

            .scrollbar-dynamic > .scroll-element.scroll-y .scroll-element_outer {
                left: auto;
                right: 0;
                top: 2px;
                -webkit-transition: width 0.2s;
                -moz-transition: width 0.2s;
                -o-transition: width 0.2s;
                -ms-transition: width 0.2s;
                transition: width 0.2s;
            }

            .scrollbar-dynamic > .scroll-element.scroll-x .scroll-element_size {
                left: -4px;
            }

            .scrollbar-dynamic > .scroll-element.scroll-y .scroll-element_size {
                top: -4px;
            }


            /* update scrollbar offset if both scrolls are visible */

            .scrollbar-dynamic > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
                left: -11px;
            }

            .scrollbar-dynamic > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
                top: -11px;
            }


            /* hover & drag */

            .scrollbar-dynamic > .scroll-element:hover .scroll-element_outer,
            .scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer {
                overflow: hidden;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
                filter: alpha(opacity=70);
                opacity: 0.7;
            }

                .scrollbar-dynamic > .scroll-element:hover .scroll-element_outer .scroll-element_size,
                .scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer .scroll-element_size {
                    opacity: 1;
                }

                .scrollbar-dynamic > .scroll-element:hover .scroll-element_outer .scroll-bar,
                .scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer .scroll-bar {
                    height: 100%;
                    width: 100%;
                    -webkit-border-radius: 12px;
                    -moz-border-radius: 12px;
                    border-radius: 12px;
                }

            .scrollbar-dynamic > .scroll-element.scroll-x:hover .scroll-element_outer,
            .scrollbar-dynamic > .scroll-element.scroll-x.scroll-draggable .scroll-element_outer {
                height: 20px;
                min-height: 7px;
            }

            .scrollbar-dynamic > .scroll-element.scroll-y:hover .scroll-element_outer,
            .scrollbar-dynamic > .scroll-element.scroll-y.scroll-draggable .scroll-element_outer {
                min-width: 7px;
                width: 20px;
            }

        body {
            font-size: 11pt !important;
        }

        table .btn {
            font-size: 8pt !important;
            padding: 3px 5px 3px 5px !important;
        }

        table th, table td {
            /*padding: 2px 2px 2px 2px !important;*/
            color: black !important;
            font-weight: normal !important;
        }

        .col-form-label {
            color: #606066 !important;
            font-weight: normal !important;
            padding: 0 0 0 0;
        }

        .form-control {
            color: #606066 !important;
            font-size: 10pt !important;
            padding: 1px 20px 1px 8px;
            border: 1px solid #606066;
            height: 30px;
        }

        .form-group {
            margin-bottom: 6px !important;
        }

        /*Parsly  Section*/
        input.parsley-success,
        select.parsley-success,
        textarea.parsley-success {
            color: #468847;
            background-color: #DFF0D8;
            border: 1px solid #D6E9C6;
        }

        input.parsley-error,
        select.parsley-error,
        textarea.parsley-error {
            color: #B94A48;
            background-color: #F2DEDE;
            border: 1px solid #EED3D7;
        }

        .parsley-errors-list {
            margin: 2px 0 3px;
            padding: 0;
            list-style-type: none;
            font-size: 0.9em;
            line-height: 0.9em;
            opacity: 0;
            transition: all .3s ease-in;
            -o-transition: all .3s ease-in;
            -moz-transition: all .3s ease-in;
            -webkit-transition: all .3s ease-in;
        }

            .parsley-errors-list.filled {
                opacity: 1;
            }

        .parsley-type, .parsley-required, .parsley-equalto {
            color: #ff0000;
        }
        /*Parsly  Section*/

        .btnCustom {
            background-color: #004474;
        }

        .ui-autocomplete {
            cursor: pointer;
            height: 400px;
            width: 300px;
            overflow-y: scroll;
            z-index: 1050;
        }

        .buttons-excel {
            font-weight: 400;
            text-align: center;
            user-select: none;
            border: 1px solid transparent;
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
            color: #fff;
            background-color: #36b9cc;
            border-color: #36b9cc;
        }

        .buttons-print {
            font-weight: 400;
            text-align: center;
            user-select: none;
            border: 1px solid transparent;
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
            color: #fff;
            background-color: #1cc88a;
            border-color: #1cc88a;
        }

        .buttons-csv {
            font-weight: 400;
            text-align: center;
            user-select: none;
            border: 1px solid transparent;
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
            color: white !important;
            background-color: green !important;
            border: 1px solid green !important;
        }

        .identity-box {
            color: black;
            font-weight: bolder;
            text-align: right;
            background: #d4d6d8;
            padding: 5px;
            border-radius: 5px;
        }

        .identity-box-center {
            color: black;
            font-weight: bolder;
            text-align: center;
            background: #eff2f4;
            padding: 5px;
            border-radius: 5px;
        }

        .nav-item a span {
            font-size: 18px !important;
        }



        .nav-item {
            border: none !important;
            outline: none !important;
        }

        #page-top {
            margin-top: 70px;
        }

        .sidenav {
            width: 260px;
            position: fixed;
            z-index: 1;
            top: 72px;
            left: 0;
            background-color: #3CACF4;
            overflow-x: hidden;
            padding-top: 20px;
        }

        #content-wrapper {
            margin-left: 195px;
        }

        #logoutButton i {
            font-size: 27px;
            color: black;
        }



        #cart {
            position: absolute;
            background-color: #888A83;
            right: 322px !important;
            top: 40%;
            height: 50px;
            color: #FEE29B;
            font-size: 18px !important;
            box-shadow: 5px 5px 5px 5px #888888;
            cursor: pointer;
            z-index: 1;
        }

        #cartDetails {
            position: absolute;
            background-color: #888A83;
            right: 0;
            top: 0;
            height: 100%;
            width: 327px;
            color: #FEE29B;
            font-size: 18px !important;
            box-shadow: 5px 5px 5px 5px #888888;
            cursor: pointer;
            z-index: 1;
        }

        .accordionSidebar li a, .accordionSidebar li a span {
            font-size: 16px !important;
        }

            .accordionSidebar li a.nav-link {
                font-weight: normal !important;
                padding: 9px !important;
            }

        .accordionSidebar li i {
            font-size: 18px !important;
        }

        /*i.fas {
            font-size: 18px !important;
        }*/

        .accordion li {
            width: 182px !important;
            font-weight: normal !important;
        }

            .accordion li.active {
                width: 239px !important;
            }



        #topBar {
            width: 100%;
            transition: all .3s;
        }

        #bottomBox {
            width: 100%;
            transition: all .3s;
        }

        #profile {
            background-color: #1D08E3;
            padding: 5px;
            border-radius: 15px;
            margin-right: 8px;
            margin-left: 8px;
            width: 85%;
        }

        .img-profile {
            border: 1px solid #078AE1;
            width: 40%;
            height: 50%;
        }

        .accordion li {
            margin: 5px 10px;
            width: 239px !important;
        }

            .accordion li.active {
                font-weight: normal !important;
            }


        #scrl::-webkit-scrollbar {
            display: none;
        }

        #scrl {
            height: 450px;
            overflow: scroll;
        }

        .addToCart {
            height: 350px;
            overflow: auto;
            top: 0;
        }

        #grid,
        #list {
            height: 497px;
            overflow: scroll;
        }

        .disabledDiv {
            pointer-events: none;
            opacity: 0.4;
        }

        @@media screen and (min-height: 870px) {
            #grid, #list {
                height: 770px;
                overflow: scroll;
            }

            #scrl {
                height: 650px;
                overflow: scroll;
            }

            .addToCart {
                height: 600px;
                overflow: auto;
                top: 0;
            }
        }

        input {
            /*box-shadow: none !important;*/
        }

        .glow {
            font-weight: bolder;
            font-family: Arial;
            animation: blinker 1s linear infinite;
        }

        @@keyframes blinker {
            50% {
                opacity: 0;
            }
        }

        a {
            text-decoration: none !important
        }

        .btncamera1 {
            cursor: pointer;
        }


        .userimg {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid gray;
            box-shadow: 1px 1px gray;
        }

        .dropdown-item {
            color: sienna;
            background: #ADD8E6 !important;
            font-size: 13px;
            width: 175px !important;
            margin: 0 auto;
            border-radius: 30px;
            margin-bottom: 5px;
        }

            .dropdown-item .fas {
                margin-top: 0;
                font-size: 13px;
            }

            .dropdown-item:hover {
                background: linear-gradient(90deg, gray 35%, #E5EEEF 100%, #364E6F 50%, #FFF29D 50%) !important;
            }

        .btncamera {
            cursor: pointer;
        }

        input, select {
            box-shadow: none !important;
        }

    </style>
</head>
<body>

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow fixed-top">
        @*<img src="@company" alt="OPUS ERP" height="70" width="70" />*@
        @*<img src="@company" alt="OPUS ERP" height="60" width="210" />*@
        <img src="~/appslogo/Specialbranch.png" width="78" class="pr-1 pt-1 pb-1" />
        @*<img class="pt-1 pb-1"  src="@companies.FirstOrDefault().filePath" alt="OPUS ERP" height=@companies.FirstOrDefault().height width=@companies.FirstOrDefault().width />*@
        @*<img src="@company" alt="OPUS ERP" style="height:124%;" />*@
        <span style="font-family:Impact!important; color: black; font-size: 16pt; padding-left: 0px;">Firearms Dealer Management System (FADMS)</span>
        <!-- Sidebar Toggle (Topbar) ~/SCMRequisition/RequisitionApprove/ReqApprovelist -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <span style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; color: black; font-size: 16pt; padding-left: 300px;"><b>@url</b> </span>

        <ul class="navbar-nav ml-auto">
            @*string url = "";
            var userRoleId = await userInfoes.GetUserRoleIdByUserName(User.Identity.Name);
            //sbadmin & admin
            if (userRoleId == "a3b6f86f-f910-4387-b579-041e4b8a1792" || userRoleId == "04AED4C4-EF8F-4704-9EC5-0B38CAAACBEB")
            {
            url = "/Auth/Account/UserList";
            }
            //DistrictSbAdmin
            if (userRoleId == "809f6aac-93dc-4407-a1f2-93be4f8f01f0")
            {
            url = "/Auth/Account/UserListForDistrict";
            }*@
         
            @*<li class="nav-item no-arrow" style="margin-top: 20px;">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button id="lanENG" type="button" style="font-size:10px;" class="btn btn-info">ENG</button>
                <button id="lanBAN" type="button" style="font-size:10px;" class="btn btn-success">বাংলা</button>
            </div>
        </li>*@

            @*<li>
            <a href="~/SCMRequisition/RequsitionRaiserDashbord/OngoingRequisition"
               style="border: 1px solid gray; padding-top: 5px; border-radius:30px 0 0 30px !important; height: 100%; background-color: white; color: black !important;"
               class="btn btn-info btn-sm"><i style="color:#B94A48" class="fas fa-bell pt-1"></i><span style="padding-top:-12px !important;" class="badge badge-danger badge-counter" id="notifyCnt"></span>Ongoing Requisition</a>
        </li>*@
            <li class="nav-item no-arrow" style="margin-top: 20px;">
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>
            @*<a href="javascript:void(0)" style="display: flex; justify-content: center; align-items: center" id="logoutButton" data-toggle="modal" data-target="#logoutModal">
            <img src="~/img/pistol.jpg" width="40" class="rounded-circle" />

        </a>*@


            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-black-50 small"> @userInfos?.PersonName</span>
                    @*<img src="~/img/pistol.jpg" width="40" class="rounded-circle" />*@
                    @*<img class="img-profile rounded-circle userimg" src="~/img/pistol.jpg" height="80" width="80" style="border-radius: 50%;" />*@


                    @if (InfoImage?.imageUrl != null)
                    {
                        <img class="img-profile rounded-circle userimg" src="~/img/pistol.jpg" height="80" width="80" style="border-radius: 50%;" />
                        @*<img class="img-profile rounded-circle userimg" src="~/@InfoImage?.imageUrl" height="80" width="80" style="border-radius: 50%;" />*@
                    }
                    else
                    {
                        <img class="img-profile rounded-circle" src="~/img/pistol.jpg" height="50" width="50" style="border-radius: 50%;">

                    }

                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="width:280px; padding: 0;">
                    <div class="row">
                        <div class="col-12">
                            <div class="card" style="margin: 0 6px; padding: 0; border-left: 0;border-right: 0; margin-top: 0;margin: 2px 0;">
                                <div class="card-body row">
                                    <div class="col-12 ">
                                        <div class="form-group row" style="display: flex;justify-content: center; align-items: center;">

                                            @if (InfoImage?.imageUrl != null)
                                            {
                                                <img class="img-profile rounded-circle userimg" src="~/img/pistol.jpg" height="50" width="50" style="border-radius: 50%;" />
                                                @*<img class="img-profile rounded-circle userimg" src="~/@InfoImage?.imageUrl" height="50" width="50" style="border-radius: 50%;" />*@
                                            }
                                            else
                                            {
                                                <img class="img-profile rounded-circle" src="~/img/pistol.jpg" height="50" width="50" style="border-radius: 50%;">
                                            }


                                            <i class="fa fa-camera btncamera" data-toggle="modal" id="phtChange" data-target="#updatePhotoModal" style="margin:0% 2% -31% -10%;"></i>
                                        </div>
                                    </div>
                                    <div class="col-12 username" style="text-align: center; font-size:16px;font-family:'Times New Roman', Times, serif;">
                                        <label><b>@userInfos.PersonName</b></label><br />
                                        <label><b>@url</b></label><br />
                                        @*<label>@userInfos?.?.userTypeNameBn</label>*@
                                    </div>
                                </div>
                            </div>

                        </div>



                        <div class="col-12 flex-column" style="color:darkslateblue;">
                            <div class="card" style="margin: 0 6px; padding: 0; border-left: 0;border-right: 0;margin: 2px 0;">
                                <div class="card-body">
                                    @*<div class="form-group row">
                                    <div class="col-5" style="text-align:right;    margin-left: 7px;">
                                        <span>র‍্যাংক  :</span>
                                    </div>
                                    <div class="col-7" style="text-align: justify;margin: 0px -7px 0px 0px;">
                                        <span>@userInfos?.ranks</span><br />

                                    </div>
                                </div>*@
                                    <div class="form-group row " >
                                        <div class="col-5" style="text-align:left; margin-left: 7px;">
                                            <span>নাম &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp; :</span><br />                                          
                                        </div>
                                        <div class="col-7" style="text-align: left;margin: 0px -7px 0px 0px;">
                                            <span>@userInfos?.PersonName</span><br />                                           
                                        </div>
                                        <div class="col-5" style="text-align:left; margin-left: 7px;">                                          
                                            <span>মোবাইল নং    :</span><br />                                         
                                        </div>
                                        <div class="col-7" style="text-align: left;margin: 0px -7px 0px 0px;">                                       
                                            <span>@userInfos?.PhoneNumber</span><br />                                       
                                        </div>
                                        <div class="col-5" style="text-align:left; margin-left: 7px;">
                                            <span>ই-মেইল      :</span><br />
                                        </div>
                                        <div class="col-7" style="text-align: left;margin: 0px -7px 0px 0px;">                                           
                                            <span style="margin-right:10px">@userInfos?.Email</span><br />
                                        </div>
                                    </div>

                                    @*<div class="form-group row">
                                    <div class="col-5" style="margin-left:7px;text-align:right;">
                                        <span>Joining Date :</span><br />
                                        <span>Job Nature :</span><br />
                                        <span>Job Status :</span><br />
                                    </div>
                                    <div class="col-7" style="margin: 0px -7px 0px 0px;text-align: justify;">
                                        <span>@EmpInfoImage?.joiningDate?.ToString("dd-MMM-yyyy")</span><br />
                                        <span>@EmpInfoImage?.empType</span><br />
                                        <span>@(EmpInfoImage?.status == 1 ? "Active" : "Inactive")</span><br />
                                    </div>
                                </div>*@
                                </div>

                            </div>
                        </div>

                        <div class="col-12">
                            <div class="card" style="margin: 0 6px; padding: 0; border-left: 0;border-right: 0;margin: 2px 0; margin-bottom: 0;">
                                <div class="card-body">
                                    <a class="dropdown-item font-weight-bolder" " href="#" data-toggle="modal" data-target="#changePasswordModals" style="color:#13087E;font-size:13px; text-align: center;">
                                        <i class="fas fa-user-cog fa-sm fa-fw mr-1 "></i>
                                        পাসওয়ার্ড পরিবর্তন
                                    </a>
                                    <a class="dropdown-item font-weight-bolder" href="#" data-toggle="modal" data-target="#logoutModal" style="color:#13087E;font-size:13px; text-align: center;">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-1 "></i>
                                        লগ আউট
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </nav>


    <div id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="menuk" class="sidenav">
                <div style="background-color: #3CACF4;">
                    <div style="display: flex; justify-content: center;">
                        <div id="profile" style="background-color:#078AE1;">
                            <div style="display: flex; justify-content: center; padding-top: 20px;">
                                <img class="img-profile1 rounded-circle" height="120" width="120" src="/img/pistol.jpg">
                                @*<i class="fa fa-camera btncamera1" data-toggle="modal" id="phtChange1" data-target="#updatePhotoModal1" style="margin-left:-13%;margin-top: 47%;"></i>*@

                            </div>

                            <div style="color: white; text-align: center">
                                <h4 class="loggedUserName" style="margin-bottom: 0; font-size: 18px; padding-top: 5px;">
                                    @userInfos.UserName
                                </h4>
                                @*<h5 class="designation" style="margin-top: 0; font-size: 16px;" id="designationnav">SPO</h5>
                                    <h5 style="margin-top: 0; font-size: 16px;" id="sectionName">ADMIN</h5>*@
                                @*<a href="javascript:void(0)" style="display: flex; justify-content: center; align-items: center; background-color: rebeccapurple;
                                    border-radius: 25px; color:white;" id="changePassword" data-toggle="modal" data-target="#changePasswordModals">পাসওয়ার্ড পরিবর্তন করুন</a>*@

                            </div>
                        </div>

                    </div>
                    @*<hr style="border: 1px solid white; margin-bottom: 20px" />*@

                    <div id="scrl">
                        <ul class="navbar-nav sidebar sidebar-dark accordion mb-5 pb-5" style="background-color: #3CACF4;" id="accordionSidebar">

                            @if (menu.Contains("DealerDashboard"))
                            {
                                <li class="nav-item btn btn-danger mb-0 pb-0" style="background-color: #13087E; border-radius: 5px!important; border:2px solid #ddd!important; padding:0!important; margin-bottom:0px!important;">
                                    <a href="/FAMSDEALER/Dashboard/IndividualDash" class="nav-link" id="HomeIcons">
                                        @*onclick="DataLoad(2)"*@
                                        <i class="fas fa-home text-light" style="font-size:17px;"></i>
                                        <span style="color:white;" id="dashboard">ড্যাশবোর্ড</span>
                                    </a>
                                </li>
                            }
                            @if (menu.Contains("DealerAdminDashboard"))
                            {
                                <li class="nav-item btn btn-danger mb-0 pb-0" style="background-color: #13087E; border-radius: 5px!important; border:2px solid #ddd!important; padding:0!important; margin-bottom:0px!important;">
                                    <a href="/FAMSDEALER/Dashboard/Index" class="nav-link" id="HomeIcons">
                                        @*onclick="DataLoad(2)"*@
                                        <i class="fas fa-home text-light" style="font-size:17px;"></i>
                                        <span style="color:white;" id="dashboard">ড্যাশবোর্ড</span>
                                    </a>
                                </li>
                            }
                            @if (menu.Contains("User Management"))
                            {
                                <li>
                                    <div class="panel-group" id="accordionUserManagement">
                                        <div class="panel panel-default">
                                            <div class="panel panel-default">
                                                <div data-toggle="collapse" data-parent="#accordionUserManagement" href="#collapseFourUserManagement" class="panel-heading" style="background-color:#13087E!important;color:#fff!important; padding:5px 20px; border:2px solid #ddd!important">
                                                    <h4 class="panel-title">
                                                        <a style="color:#fff; font-size:17px!important">
                                                            <i class="fas fa-user-cog" style="font-size:17px;"></i> ইউজার ম্যানেজমেন্ট

                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseFourUserManagement" class="panel-collapse collapse" style="background-color:#fff!important">
                                                    <div class="panel-body">
                                                        <table class="table">
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-home" style="font-size:17px;"></i>&nbsp;&nbsp;<a href="/Auth/Account/CreateUser">ইউজার তৈরি করুন</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-home" style="font-size:17px;"></i>&nbsp;&nbsp;<a href="/Auth/Account/UserList">ইউজার তালিকা</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-home" style="font-size:17px;"></i>&nbsp;&nbsp;<a href="/Auth/Account/UserRoleCreate">ইউজার রোল</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-home" style="font-size:17px;"></i>&nbsp;&nbsp;<a href="/Auth/Account/UserRoleAssign">ইউজার এক্সেস </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                            @if (menu.Contains("DealerAdminAddDealer"))
                            {
                                <li class="nav-item btn btn-danger mb-0 pb-0" style="background-color: #13087E; border-radius: 5px!important; border:2px solid #ddd!important; padding:0!important; margin-bottom:0px!important;">
                                    <a href="/FAMSDEALER/Dealer/AddDealer" class="nav-link" id="HomeIcons">
                                        @*onclick="DataLoad(2)"*@
                                        <i class="fas fa-plus-circle mr-1" style="font-size:17px;"></i>
                                        <span style="color:white;" id="dashboard">নতুন ডিলার</span>
                                    </a>
                                </li>
                            }
                            @if (menu.Contains("DealerAdminDealerList"))
                            {
                                <li class="nav-item btn btn-danger mb-0 pb-0" style="background-color: #13087E; border-radius: 5px!important; border:2px solid #ddd!important; padding:0!important; margin-bottom:0px!important;">
                                    <a href="/FAMSDEALER/Dealer/DealerList" class="nav-link" id="HomeIcons">
                                        @*onclick="DataLoad(2)"*@
                                        <i class="fas fa-th-list mr-1" style="font-size:17px;"></i>
                                        <span style="color:white;" id="dashboard">ডিলার তালিকা</span>
                                    </a>
                                </li>
                            }
                            @if (menu.Contains("DealerAdminInvoiceList"))
                            {
                                <li class="nav-item btn btn-danger mb-0 pb-0" style="background-color: #13087E; border-radius: 5px!important; border:2px solid #ddd!important; padding:0!important; margin-bottom:0px!important;">
                                    <a href="/FAMSDEALER/SalesInvoice/InvoiceListOfDealers" class="nav-link" id="HomeIcons">
                                        @*onclick="DataLoad(2)"*@
                                        <i class="fas fa-th-list mr-1" style="font-size:17px;"></i>
                                        <span style="color:white;" id="dashboard">ডিলার বিক্রয় তালিকা</span>
                                    </a>
                                </li>
                            }
                            @if (menu.Contains("DealerAdminPurchaseList"))
                            {
                                <li class="nav-item btn btn-danger mb-0 pb-0" style="background-color: #13087E; border-radius: 5px!important; border:2px solid #ddd!important; padding:0!important; margin-bottom:0px!important;">
                                    <a href="/FAMSDEALER/Purchase/AllDealerPurchaseList" class="nav-link" id="HomeIcons">
                                        @*onclick="DataLoad(2)"*@
                                        <i class="fas fa-th-list mr-1" style="font-size:17px;"></i>
                                        <span style="color:white;" id="dashboard">ডিলার ক্রয় তালিকা</span>
                                    </a>
                                </li>
                            }

                            @*<li class="nav-item btn btn-danger" style="background-color: #13087E; border-radius: 15px!important; padding:0!important; margin-bottom:0px!important;"></li>*@



                            @if (menu.Contains("Dealer"))
                            {
                                <li>
                                    <div class="panel-group" id="accordion1">
                                        <div class="panel panel-default">
                                            <div class="panel panel-default">

                                                <div data-toggle="collapse" data-parent="#accordion1" href="#collapseFour12" class="panel-heading" style="background-color:#13087E!important;color:#fff!important; padding:5px 20px; border:2px solid #ddd!important">
                                                    <h4 class="panel-title">
                                                        <a style="color:#fff; font-size:17px!important">
                                                            <i class="fab fa-accusoft" style="font-size:17px;"></i> ডিলার
                                                        </a>
                                                    </h4>
                                                </div>

                                                <div id="collapseFour12" class="panel-collapse collapse" style="background-color:#fff!important">
                                                    <div class="panel-body">
                                                        <table class="table">
                                                            <tr>
                                                                <td>

                                                                    <i class="fas fa-arrows-alt mr-1" style="font-size:17px;"></i>
                                                                    <a href="/FAMSDEALER/Dashboard/Index">ড্যাশবোর্ড</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>

                                                                    <i class="fas fa-plus-circle mr-1" style="font-size:17px;"></i>
                                                                    <a href="/FAMSDEALER/Dealer/AddDealer">নতুন ডিলার</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-th-list mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/Dealer/DealerList">ডিলার তালিকা</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-th-list mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/SalesInvoice/InvoiceListOfDealers">ডিলার বিক্রয় তালিকা</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-th-list mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/Purchase/AllDealerPurchaseList">ডিলার ক্রয় তালিকা</a>
                                                                </td>
                                                            </tr>
                                                            @*<tr>
                                            <td>
                                                <i class="fas fa-th-list mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/Supplier/SupplierList">সরবরাহকারী তালিকা</a>
                                            </td>
                                        </tr>*@
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }

                            @*@if (menu.Contains("Item"))
        {
            <li>
                <div class="panel-group" id="accordion1">
                    <div class="panel panel-default">
                        <div class="panel panel-default">

                            <div data-toggle="collapse" data-parent="#accordion1" href="#ItemID12" class="panel-heading" style="background-color:#13087E!important;color:#fff!important; padding:5px 20px; border:2px solid #ddd!important">
                                <h4 class="panel-title">
                                    <a style="color:#fff; font-size:17px!important">
                                        <i class="fab fa-product-hunt mr-1" style="font-size:17px;"></i> আগ্নেয়াস্ত্র
                                    </a>
                                </h4>
                            </div>

                            <div id="ItemID12" class="panel-collapse collapse" style="background-color:#fff!important">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <i class="fas fa-plus-circle mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/ItemInfo/ItemList">নতুন আগ্নেয়াস্ত্র</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fas fa-arrows-alt mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/ItemHsCode/ItemHsCode">আগ্নেয়াস্ত্র হ্যাশ কোড</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }*@

                            @if (menu.Contains("Item"))
                            {
                                <li>
                                    <div class="panel-group" id="accordion1">
                                        <div class="panel panel-default">
                                            <div class="panel panel-default">

                                                <div data-toggle="collapse" data-parent="#accordion1" href="#ItemID12" class="panel-heading" style="background-color:#13087E!important;color:#fff!important; padding:5px 20px; border:2px solid #ddd!important">
                                                    <h4 class="panel-title">
                                                        <a style="color:#fff; font-size:17px!important">
                                                            <i class="fab fa-product-hunt mr-1" style="font-size:17px;"></i>নতুন আগ্নেয়াস্ত্র
                                                        </a>
                                                    </h4>
                                                </div>

                                                <div id="ItemID12" class="panel-collapse collapse" style="background-color:#fff!important">
                                                    <div class="panel-body">
                                                        <table class="table">
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-plus-circle mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/ItemInfo/AddItem?itemid=0">নতুন আগ্নেয়াস্ত্র</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-th-list mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/ItemInfo/ItemListByDealer">আগ্নেয়াস্ত্র তালিকা</a>
                                                                </td>
                                                            </tr>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                            @if (menu.Contains("SupplierAdmin"))
                            {
                                <li>
                                    <div class="panel-group" id="accordion1">
                                        <div class="panel panel-default">
                                            <div class="panel panel-default">

                                                <div data-toggle="collapse" data-parent="#accordion1" href="#Supplier12" class="panel-heading" style="background-color:#13087E!important;color:#fff!important; padding:5px 20px; border:2px solid #ddd!important">
                                                    <h4 class="panel-title">
                                                        <a style="color:#fff; font-size:17px!important">
                                                            <i class="fas fa-ambulance  mr-1" style="font-size:17px;"></i>সরবরাহকারী
                                                        </a>
                                                    </h4>
                                                </div>

                                                <div id="Supplier12" class="panel-collapse collapse" style="background-color:#fff!important">
                                                    <div class="panel-body">
                                                        <table class="table">
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-plus-circle mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/Supplier/AddSupplier">নতুন সরবরাহকারী</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-th-list mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/Supplier/SupplierList">সরবরাহকারী তালিকা</a>
                                                                </td>
                                                            </tr> 
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-th-list mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/Supplier/SupplierTypeAdd">নতুন সরবরাহকারীর ধরণ</a>
                                                                </td>
                                                            </tr> 
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                            @if (menu.Contains("DealerSupplier"))
                            {
                                <li>
                                    <div class="panel-group" id="accordion1">
                                        <div class="panel panel-default">
                                            <div class="panel panel-default">

                                                <div data-toggle="collapse" data-parent="#accordion1" href="#Supplier12" class="panel-heading" style="background-color:#13087E!important;color:#fff!important; padding:5px 20px; border:2px solid #ddd!important">
                                                    <h4 class="panel-title">
                                                        <a style="color:#fff; font-size:17px!important">
                                                            <i class="fas fa-ambulance  mr-1" style="font-size:17px;"></i> সরবরাহকারী
                                                        </a>
                                                    </h4>
                                                </div>

                                                <div id="Supplier12" class="panel-collapse collapse" style="background-color:#fff!important">
                                                    <div class="panel-body">
                                                        <table class="table">
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-plus-circle mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/Supplier/DealerSupplier?id=0">নতুন সরবরাহকারী</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-th-list mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/Supplier/SupplierListForDealer">সরবরাহকারী তালিকা</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                            @if (menu.Contains("Purchase"))
                            {
                                <li>
                                    <div class="panel-group" id="accordion1">
                                        <div class="panel panel-default">
                                            <div class="panel panel-default">

                                                <div data-toggle="collapse" data-parent="#accordion1" href="#Purchase1" class="panel-heading" style="background-color:#13087E!important;color:#fff!important; padding:5px 20px; border:2px solid #ddd!important">
                                                    <h4 class="panel-title">
                                                        <a style="color:#fff; font-size:17px!important">
                                                            <i class="fas fa-shopping-cart  mr-1" style="font-size:17px;"></i> ক্রয়
                                                        </a>
                                                    </h4>
                                                </div>

                                                <div id="Purchase1" class="panel-collapse collapse" style="background-color:#fff!important">
                                                    <div class="panel-body">
                                                        <table class="table">
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-plus-circle mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/Purchase/DealerPurchase?id=0">নতুন ক্রয়</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-th-list mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/Purchase/PurchaseImportList">ক্রয় তালিকা</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                            @if (menu.Contains("Sales"))
                            {
                                <li>
                                    <div class="panel-group" id="accordion1">
                                        <div class="panel panel-default">
                                            <div class="panel panel-default">

                                                <div data-toggle="collapse" data-parent="#accordion1" href="#Salse1" class="panel-heading" style="background-color:#13087E!important;color:#fff!important; padding:5px 20px; border:2px solid #ddd!important">
                                                    <h4 class="panel-title">
                                                        <a style="color:#fff; font-size:17px!important">
                                                            <i class="fas fa-universal-access  mr-1" style="font-size:17px;"></i> বিক্রয়
                                                        </a>
                                                    </h4>
                                                </div>

                                                <div id="Salse1" class="panel-collapse collapse" style="background-color:#fff!important">
                                                    <div class="panel-body">
                                                        <table class="table">
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-plus-circle mr-1" style="font-size:17px;"></i> <a href="/FAMSDEALER/SalesInvoice/DealerSales">নতুন বিক্রয়</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-th-list mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/SalesInvoice/InvoiceList">বিক্রয় তালিকা</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                            @if (menu.Contains("DealerService"))
                            {
                                <li>
                                    <div class="panel-group" id="accordion1">
                                        <div class="panel panel-default">
                                            <div class="panel panel-default">

                                                <div data-toggle="collapse" data-parent="#accordion1" href="#Purchase1" class="panel-heading" style="background-color:#13087E!important;color:#fff!important; padding:5px 20px; border:2px solid #ddd!important">
                                                    <h4 class="panel-title">
                                                        <a style="color:#fff; font-size:17px!important">
                                                            <i class="fas fa-shopping-cart  mr-1" style="font-size:17px;"></i> সেবা
                                                        </a>
                                                    </h4>
                                                </div>

                                                <div id="Purchase1" class="panel-collapse collapse" style="background-color:#fff!important">
                                                    <div class="panel-body">
                                                        <table class="table">
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-plus-circle mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/Dealer/DepositeList">আমানত তালিকা</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-th-list mr-1" style="font-size:17px;"></i><a href="/FAMSDEALER/Dealer/RepairList">মেরামত তালিকা</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }

                            @if (menu.Contains("Report"))
                            {
                                <li>
                                    <div class="panel-group" id="accordion2">
                                        <div class="panel panel-default">
                                            <div class="panel panel-default">
                                                <div data-toggle="collapse" data-parent="#accordion2" href="#colupsreport" class="panel-heading" style="background-color:#13087E!important;color:#fff!important; padding:5px 20px; border:2px solid #ddd!important">
                                                    <h4 class="panel-title">
                                                        <a style="color:#fff; font-size:17px!important">
                                                            <i class="fas fa-file-pdf" style="font-size:17px;"></i> রিপোর্ট
                                                        </a>
                                                    </h4>
                                                </div>

                                                <div id="colupsreport" class="panel-collapse collapse" style="background-color:#fff!important">
                                                    <div class="panel-body">
                                                        <table class="table">
                                                            <tr>
                                                                @*<td>
                                                    <i class="fas fa-arrows-alt mr-1" style="font-size:17px;"></i> &nbsp;
                                                    <a href="/FAMSDEALER/Report/Index">ডিলার রিপোর্ট</a>
                                                </td>
                                            </tr>*@
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-print mr-1" style="font-size:17px;"></i> &nbsp;
                                                                    <a href="/FAMSDB/Report/Index">লাইসেন্স রিপোর্ট</a>
                                                                </td>
                                                            </tr>
                                                            @*<tr>
                                            <td>
                                                <i class="fas fa-random mr-1" style="font-size:17px;"></i> &nbsp;
                                                <a href="/FAMSDB/Report/GDInformationReport">
                                                    লেনদেন রিপোর্ট
                                                </a>
                                            </td>
                                        </tr>*@
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-random mr-1" style="font-size:17px;"></i> &nbsp;
                                                                    <a href="/FAMSDB/Report/ArmsInformationReport">
                                                                        আগ্নেয়াস্ত্রের রিপোর্ট
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fab fa-accusoft mr-1" style="font-size:17px;"></i> &nbsp;
                                                                    <a href="/FAMSDB/Report/GDReport">
                                                                        জিডি এন্ট্রি রিপোর্ট
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fab fa-accusoft mr-1" style="font-size:17px;"></i> &nbsp;
                                                                    <a href="/FAMSDB/Report/InspectionReport">
                                                                        পরিদর্শন রিপোর্ট
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-binoculars mr-1" style="font-size:17px;"></i> &nbsp;
                                                                    <a href="/FAMSDB/Report/ArmsLostOrStolenReport">
                                                                        আগ্নেয়াস্ত্রের হারানো রিপোর্ট
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-receipt mr-1" style="font-size:17px;"></i> &nbsp;
                                                                    <a href="/FAMSDB/Report/NewArmsPurchaseReport">
                                                                        নতুন আগ্নেয়াস্ত্র ক্রয় রিপোর্ট
                                                                    </a>
                                                                </td>
                                                            </tr>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                            @if (menu.Contains("Help"))
                            {
                                <li class="nav-item btn btn-danger mb-2 pb-2 text-light" style="background-color: #13087E; border-radius: 5px!important; border:2px solid #ddd!important; padding:0!important; margin-bottom:0px!important;">
                                    <a href="/FAMSDB/Report/Help" class="nav-link text-light" id="HomeIcons">
                                        <i class="fas fa-file-export text-light" style="font-size:17px;"></i>
                                        <span style="color:white;" id="MasterData"></span>
                                        হেল্প
                                    </a>
                                </li>
                            }
                            @if (menu.Contains("Legelity"))
                            {
                                <li class="nav-item btn btn-danger mb-2 pb-2 text-light" style="background-color: #13087E; border-radius: 5px!important; border:2px solid #ddd!important; padding:0!important; margin-bottom:0px!important;">
                                    <a href="/FAMSDB/Report/Legelity" class="nav-link text-light" id="HomeIcons">
                                        <i class="fas fa-search" style="font-size:17px;"></i>
                                        <span style="color:white;" id="MasterData"></span>
                                        বৈধ/অবৈধ আগ্নেয়াস্ত্র অনুসন্ধান
                                    </a>
                                </li>
                            }
                            <li style="padding-top:20px" class="text-light"><i class="fas fa-phone-square"></i> Helpline:013xxxxxxxx</li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content" style="margin-left: 195px; width:100%;background-color: #f8f9fc;" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Begin Page Content -->
                    <div class="container-fluid" style="margin-right: -53px;padding-right: 32px;">
                        @RenderBody()
                    </div>
                    <!-- /.container-fluid -->
                    <!-- RIGHTPART -->


                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <!-- End of Footer -->
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
        <footer class="sticky-footer bg-white p-0 m-2">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    @*<span><a href="https://www.opus-bd.com/" target="_blank" style="text-decoration:none;"> OPUS Technology Ltd </a>&copy; @DateTime.Now.Year</span>*@
                    <span><a href="https://www.opus-bd.com/" target="_blank" style="text-decoration:none;"> OPUS Technology Ltd </a>HelpLine:013xxxxxxxx</span>
                </div>
            </div>
        </footer>
    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">আপনি কি "লগ আউট"-এর জন্য প্রস্তুত?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    আপনি যদি আপনার বর্তমান সেশনটি শেষ করতে চান তবে নীচে "লগ আউট" মেনুটি নির্বাচন করুন।
                </div>
                <div class="modal-footer">
                    <form asp- method="post" asp-area="Auth" asp-controller="Account" asp-action="Logout" id="logoutForm" class="navbar-right">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">বাতিল করুন</button>
                        <button type="submit" onclick="ClearLocalStorage()" class="btn btn-success">লগ আউট করুন</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Change Password Modal-->
    <div class="modal fade" id="changePasswordModals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:600px; height:270px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">পাসওয়ার্ড পরিবর্তন করুন </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:red">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-area="Auth" asp-controller="Account" asp-action="ChangePassword" method="post" role="form" data-parsley-validate="parsley">
                        <div class="form-group row">
                            <label class="col-md-4 col-lg-4 col-sm-4" style="color:black;" for="OldPassword">বর্তমান পাসওয়ার্ড দিন<span style="float:right;">:</span></label>
                            <div class="col-md-8 col-lg-8 col-sm-8">
                                <input type="password" class="form-control" id="OldPassword" name="OldPassword" autocomplete="off" data-parsley-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-lg-4 col-sm-4" style="color:black;" for="Password">নতুন পাসওয়ার্ড দিন<span style="float:right;">:</span></label>
                            <div class="col-md-8 col-lg-8 col-sm-8">
                                <input type="password" class="form-control" id="Password" name="Password" autocomplete="off" data-parsley-required="true" placeholder="পাসওয়ার্ডটিতে অবশ্যই একটি সংখ্যা থাকতে হবে" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-lg-4 col-sm-4" style="color:black;" for="ConfirmPassword">পাসওয়ার্ড নিশ্চিত করুন<span style="float:right;">:</span></label>
                            <div class="col-md-8 col-lg-8 col-sm-8">
                                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" autocomplete="off" data-parsley-required="true" placeholder="পাসওয়ার্ডটিতে অবশ্যই একটি সংখ্যা থাকতে হবে" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <button type="submit" style="float:right;" class="btn btn-success">জমা দিন</button>
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">বাতিল</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updatePhotoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">আপডেট ফটো</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-area="HRPMSEmployee" asp-controller="Photograph" asp-action="Index" method="post" enctype="multipart/form-data" data-parsley-validate="parsley">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group row">
                            <div class="col-5">
                                <img id="user_img_current" style="width:200px;height:200px" src="" alt="" class="img-thumbnail float-left">
                                <input type="hidden" id="hiddenFile" />
                            </div>
                            <div class="col-7">
                                @*<img id="user_img" style="width:200px;height:200px" src="~/images/user.png" alt="" class="img-thumbnail float-left">*@
                                <input type="hidden" name="employeeID" value="" />
                                <input type="hidden" name="photographID" value="" />
                                <input type="file" title="Photo Upload" id="imagePath" data-parsley-required="true" name="empPhoto" class="btn btn-default btn-sm pull-right" />
                                <span style="float:left; color:red;" class="redStar">*</span>
                            </div>
                        </div>
                        <hr>
                        <button type="submit" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @*//////dasbordPhoto change Modal/////*@
    <div class="modal fade" id="updatePhotoModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">আপডেট ফটো</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-area="HRPMSEmployee" asp-controller="Photograph" asp-action="Index" method="post" enctype="multipart/form-data" data-parsley-validate="parsley">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group row">
                            <div class="col-5">
                                @if (InfoImage?.EmpName != null)
                                    {
                                        <img id="user_img1" name="fileName" style="width:200px;height:200px" src="~/@InfoImage?.EmpName" alt="" class="img-thumbnail float-left">
                                    }
                                    else
                                    {
                                        <img id="user_img1" name="fileName" style="width:200px;height:200px" src="/images/user-icon-png.png" alt="" class="img-thumbnail float-left">
                                    }
                                @*<img id="" style="width:200px;height:200px" src="/images/user-icon-png.png" alt="" class="img-thumbnail float-left">*@
                                <input type="hidden" id="hiddenFile" />
                            </div>
                            <div class="col-7">
                                @*<img id="user_img" style="width:200px;height:200px" src="~/images/user.png" alt="" class="img-thumbnail float-left">*@
                                <input type="hidden" name="employeeID" value="" />
                                <input type="hidden" name="photographID" value="" />
                                <input type="file" title="Photo Upload" id="imagePath1" data-parsley-required="true" name="" class="btn btn-default btn-sm pull-right" />
                                <span style="float:left;color:red" class="redStar">*</span>
                            </div>

                        </div>
                        <hr>
                        <button type="submit" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    @*<script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/CustomSelectOption/select2.min.js"></script>*@
    <!-- Page level plugins -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <!-- Custom Date Picker-->
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <!-- Core plugin JavaScript-->
    @*<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>*@
    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>
    <!-- parsly Validation -->
    <script src="~/js/parsly.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    @*<script src="~/SweetAlert/sweetalert2.common.js"></script>*@
    @*<script src="~/SweetAlert/sweetalert2.js"></script>*@
    <script src="~/js/jquery.autocomplete.js" type="text/javascript"></script>
    @*<script type="text/javascript" src="~/js/canvas/jquery.canvasjs.min.js"></script>
        <script type="text/javascript" src="~/qrcode/jquery-qrcode-0.17.0.js"></script>
        <script type="text/javascript" src="~/qrcode/jquery-qrcode-0.17.0.min.js"></script>
        <script type="text/javascript" src="~/qrcode/scripts.js"></script>*@
    <!-- Comon Ajax Lib -->
    <script type="text/javascript" src="~/js/common.js"></script>
    <script type="text/javascript" src="~/js/jquery.number.js"></script>
    <script type="text/javascript" src="~/js/jquery.number.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>*@
    @*<script src="~/microsoft/signalr/dist/browser/signalr.js"></script>*@
    @*<script src="~/js/site.js"></script>*@


    <script type="text/javascript">


       @*var orgFullTitle = '@orgTitle';*@
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            location.reload(true);
        }

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        $(document).ready(function () {
             @*$('#menu').load('@Url.Action("AssignPage", "Home")');*@
            $('[data-toggle="tooltip"]').tooltip();
            $('#lanBAN').click(function () {
                setCookie('lang', 'bn', 30);
                $('#Profile').text('প্রোফাইল');
                $('#Logout').text('লগআউট');
                $('#change').text('পাসওয়ার্ড পরিবর্তন');
                $('#dashboard').text('ড্যাশবোর্ড');

            });
            $('#lanENG').click(function () {
                setCookie('lang', 'en', 30);
                $('#Profile').text('Profile');
                $('#Logout').text('Logout');
                $('#change').text('Change Password');
                //$('#dashboard').text('Dashboard');

            });

            if (getCookie('lang') == 'bn') {
                $('#Profile').text('প্রোফাইল');
                $('#Logout').text('লগআউট');
                $('#change').text('পাসওয়ার্ড পরিবর্তন');
                $('#ddmName').text('দুর্যোগ ব্যবস্থাপনা অধিদপ্তর');
                $('#ministryName').text('দূর্যোগ ব্যবস্থাপনা ও ত্রাণ মন্ত্রণালয়');
                $('#dashboard').text('ড্যাশবোর্ড');

            } else {

                $('#Profile').text('Profile');
                $('#Logout').text('Logout');
                $('#change').text('Change Password');
                $('#ddmName').text('Department of Disaster Management');
                $('#ministryName').text('Ministry of Disaster Management and Relief');
                //$('#dashboard').text('Dashboard');

            }
        });


        $(".arlo_tm_resize").click(function () {
            var existBtnClass = $(this).attr('class');
            var existDrawerClass = $('.arlo_tm_leftpart_wrap').attr('class');

            if (existBtnClass == 'arlo_tm_resize' && existDrawerClass == 'arlo_tm_leftpart_wrap') {
                $(".arlo_tm_resize").addClass('opened');
                $(".arlo_tm_leftpart_wrap").addClass('opened');
            }
            else {
                $(".arlo_tm_resize").removeClass('opened');
                $(".arlo_tm_leftpart_wrap").removeClass('opened');
            }

        })

    </script>
    <script>
		$(".arlo_tm_resize").click(function () {
			var existBtnClass = $(this).attr('class');
			var existDrawerClass = $('.arlo_tm_leftpart_wrap').attr('class');
			if (existBtnClass == 'arlo_tm_resize' && existDrawerClass == 'arlo_tm_leftpart_wrap') {
				$(".arlo_tm_resize").addClass('opened');
				$(".arlo_tm_leftpart_wrap").addClass('opened');
			}
			else {
				$(".arlo_tm_resize").removeClass('opened');
				$(".arlo_tm_leftpart_wrap").removeClass('opened');
			}
        })

        function show(input) {
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    console.log(input.value)
                    $('#imagePath').text(input.value);
                    $('#user_img').attr('src', e.target.result);
                    imgfile.src = event.target.result;
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }

        function uploadPhoto() {
            var imgfile = document.getElementById('imagePath');
            var formData = new FormData();
            formData.append('employeeID', $("#employeeID").val());
            formData.append('photographID', $("#photographID").val());
            formData.append('empPhoto', $('input[type=file]')[0].files[0]);
            console.log(formData)
            console.log($("#employeeID").val())
            console.log($("#photographID").val())
            swal({
                title: 'Are you sure?',
                text: 'Do you want to update this photo!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Update it!'
            }).then(function () {
                $.ajax({
                    url: '@Url.Action("Photo", "PersonalInfo", new { area= "FAMSAPP" })',
                    data: formData,
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                }).done(function (response) {
                        if (response == "success") {
                            swal('', 'Update Successfully!', 'success').
                                then(function () {
                                    location.reload();
                                })
                        }
                        else {
                            swal('', 'Unable to Update! Something went wrong.', 'warning');
                        }
                    })
                    .fail(function () {
                        swal('', 'Unable to Update! Please choose photo.', 'warning');
                    });
			});
        }
    </script>

    <script>
		$(".arlo_tm_resize").click(function () {
			var existBtnClass = $(this).attr('class');
			var existDrawerClass = $('.arlo_tm_leftpart_wrap').attr('class');
			if (existBtnClass == 'arlo_tm_resize' && existDrawerClass == 'arlo_tm_leftpart_wrap') {
				$(".arlo_tm_resize").addClass('opened');
				$(".arlo_tm_leftpart_wrap").addClass('opened');
			}
			else {
				$(".arlo_tm_resize").removeClass('opened');
				$(".arlo_tm_leftpart_wrap").removeClass('opened');
			}
        })

        function show(input) {
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    console.log(input.value)
                    $('#imagePath1').text(input.value);
                    $('#user_img1').attr('src', e.target.result);
                    imgfile.src = event.target.result;
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }

        function uploadPhoto1() {
            var imgfile = document.getElementById('imagePath1');
            var formData = new FormData();
            formData.append('employeeID', $("#employeeID").val());
            formData.append('photographID', $("#photographID").val());
            formData.append('empPhoto', $('input[type=file]')[0].files[0]);
            console.log(formData)
            console.log($("#employeeID").val())
            console.log($("#photographID").val())
            swal({
                title: 'Are you sure?',
                text: 'Do you want to update this photo!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Update it!'
            }).then(function () {
                $.ajax({
                    url: '@Url.Action("Photo", "PersonalInfo", new { area= "FAMSAPP" })',
                    data: formData,
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                }).done(function (response) {
                        if (response == "success") {
                            swal('', 'Update Successfully!', 'success').
                                then(function () {
                                    location.reload();
                                })
                        }
                        else {
                            swal('', 'Unable to Update! Something went wrong.', 'warning');
                        }
                    })
                    .fail(function () {
                        swal('', 'Unable to Update! Please choose photo.', 'warning');
                    });
			});
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js" type="text/javascript"></script>
    @*<script src="~/js/init.js" type="text/javascript"></script>*@
    @*<script src="~/js/lay/jqueryui.js"></script>*@

    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/select2/js/select2.full.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>