
@model FADMS.Areas.FAMSDEALER.Models.SalesInvoiceViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <style>
        .redStar {
            color: red;
        }
    </style>
}

<div class="col-12">
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h5 class="card-title" style="color: black">Sales Invoice</h5>
                </div>
                <div class="col-6">
                    <a href="/FAMSDEALER/SalesInvoice/InvoiceList" class="btn btn-info float-right btn-sm">Back To List</a>
                </div>
            </div>
            <hr>
            <div class="container">

                <form asp-area="FAMSDEALER" asp-controller="SalesInvoice" asp-action="Index" method="post" data-parsley-validate="parsley">


                    <div class="row">
                        <div class="col-6">
                            <div class="form-group row">

                                <label for="binNo" class="col-sm-4 col-form-label">Dealer</label>
                                <div class="col-sm-8">
                                    <select class="form-control input-group-sm" id="dearId" name="dearId">
                                        <option value="">Select</option>
                                        @foreach (var item in Model.dealers)
                                        {
                                            <option value="@item.Id">@item.dealerName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group row">
                                <label for="salesInvoiceNo" class="col-sm-4 col-form-label">Sales Invoice No</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="salesInvoiceNo" id="salesInvoiceNo" value="@Model.salesInvoiceMaster?.invoiceNumber" readonly>
                                    <input type="hidden" name="masterId" id="masterId" value="0" />
                                </div>

                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="mastersalseId" id="mastersalseId" value="@ViewBag.mastersalseId" />
                    <input type="hidden" name="salesInvoiceDetailId" id="salesInvoiceDetailId" value="" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group row">
                        <label for="customerId" class="col-sm-2 col-form-label">License Number<span style="float:right;" class="redStar">*</span></label>

                        <div class="col-sm-4">
                            <input type="text" name="LicenseNumber" id="LicenseNumber" value="@Model.salesInvoiceMaster?.licenseInfo?.licenseNumber" class="form-control" />
                            <input type="hidden" name="licenseId" id="licenseId" value="" />
                        </div>
                        <label for="invoiceDate" class="col-sm-2 col-form-label text-left">Invoice Date</label>
                        <div class="col-sm-4 input-group">
                            <input name="invoiceDate" id="invoiceDate" class="form-control input-group-sm" value="" readonly />
                            <div class="input-group-prepend">
                                <i class="fas fa-calendar-alt form-control input-group-sm input-group-text bg-white"></i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">

                        <label for="binNo" class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-group-sm" value="@Model.salesInvoiceMaster?.licenseInfo?.place" id="place" name="place" readonly />
                        </div>

                        <label for="invoiceDate" class="col-sm-2 col-form-label text-left">Payment Date</label>
                        <div class="col-sm-4 input-group">
                            <input name="paymentDate" id="paymentDate" class="form-control input-group-sm" value="" readonly />
                            <div class="input-group-prepend">
                                <i class="fas fa-calendar-alt form-control input-group-sm input-group-text bg-white"></i>
                            </div>
                        </div>
                    </div>




                    <div class="form-group row">

                        <label for="address" class="col-sm-2 col-form-label text-left">License Type</label>
                        <div class="col-sm-4 input-group">
                            <textarea name="licenseTypeId" id="licenseTypeId" class="form-control input-group-sm" readonly>@Model.salesInvoiceMaster?.licenseInfo?.licenseSourseType</textarea>
                        </div>
                        <label for="price" class="col-sm-2 col-form-label">VAT Type <span style="float:right;" class="redStar">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control" name="salesVatTypeId" id="salesVatTypeId" style="width:100%" data-parsley-required="true" data-parsley-trigger="keyup">
                                <option value="">Select One</option>
                                @foreach (var data in Model.salesVatTypes)
                                {
                                    <option value="@data.Id">@data.name</option>
                                }
                            </select>
                        </div>


                    </div>


                    <div class="form-group row">
                        <label for="shiftTo" class="col-sm-2 col-form-label">Ship To<span style="float:right;" class="redStar">*</span></label>
                        <div class="col-sm-4">
                            <textarea name="shiftTo" id="shiftTo" data-parsley-required="true" class="form-control input-group-sm">@Model.salesInvoiceMaster.shiftTo</textarea>
                        </div>
                    </div>

                    <hr />

                    <div class="form-group row">
                        <label for="itemName" class="col-sm-2 col-form-label">Item Name<span style="float:right;" class="redStar">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="itemName" id="itemName">
                            <input type="hidden" name="itemId" id="itemId" value="0" />
                            <input type="hidden" name="VAT" id="VAT" value="0" />
                            <input type="hidden" name="AIT" id="AIT" value="0" />
                            @*<input type="hidden" name="hsCode" id="hsCode" value="0" />*@

                        </div>
                        <label for="itemSpecification" class="col-sm-2 col-form-label">Item Specification <span style="float:right;" class="redStar">*</span></label>
                        <div class="col-sm-4 mb-1">
                            <input type="text" class="form-control" name="itemSpecification" id="itemSpecification">
                            <input type="hidden" name="itemId" id="itemId" value="" />
                            <input type="hidden" name="itSpecId" id="itSpecId" value="0" />
                        </div>

                        <label for="txtSD" class="col-sm-2 col-form-label">Vat Category</label>
                        <div class="col-sm-4 mb-1">
                            <input type="text" class="form-control" id="txtVatCat" name="txtVatCat" readonly>
                        </div>

                        <label for="txtSD" class="col-sm-2 col-form-label">Vat Schedule</label>
                        <div class="col-sm-4 mb-1">
                            <input type="text" class="form-control" id="txtVatSchedule" name="txtVatSchedule" readonly>
                        </div>

                        <label for="txtSD" class="col-sm-2 col-form-label">Vat Table</label>
                        <div class="col-sm-4 mb-1">
                            <input type="text" class="form-control" id="txtVatTable" readonly>
                        </div>

                        <label for="txtSD" class="col-sm-2 col-form-label">Hs Code</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="hsCode" name="hsCode" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="price" class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-4 mb-1">
                            <input type="number" class="form-control" name="price" id="price">
                        </div>

                        <label for="txtSD" class="col-sm-2 col-form-label">Vat(%)</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" id="txtVatpercent" name="vatPercent">
                        </div>
                        <label for="txtSD" class="col-sm-2 col-form-label" hidden>Tax(%)</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" id="txtTaxpercent" name="taxPercent" hidden>
                        </div>
                    </div>


                    <div class="form-group row">


                        @*<div class="col-sm-2" style="display:none">
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" id="btnChangePrice">
                    Change Price
                </button>
            </div>*@
                        <label for="quantity" class="col-sm-2 col-form-label">Quantity </label>
                        <div class="col-sm-4">
                            <input type="number" min="1" class="form-control" name="quantity" id="quantity">
                        </div>
                        @*<label for="unit" class="col-sm-1 col-form-label">Unit </label>
            <div class="col-sm-1">
                <input type="text" class="form-control" name="unit" id="unit" readonly>
            </div>
            <label for="discount" class="col-sm-1 col-form-label">Disc.(%)</label>
            <div class="col-sm-1">
                <input type="number" class="form-control" name="discount" id="discount" readonly>
            </div>*@
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12 mt-2">
                            <button type="button" onclick="AdditemDetails()" value="Add" title="Add" class="btn btn-info" style="float:right;"><i class="fas fa-plus fa-w-1"></i></button>
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <input type="hidden" id="rowCount" name="rowCount" value="0" />
                        <input type="hidden" id="detailsId" name="detailsId" value="0" />
                        <input type="hidden" id="IsEdit" name="IsEdit" value="0" />
                        <div class="col-12">
                            <table class="table table-bordered table-striped table-sm" id="tblitemDetails" data-parsley-required="true">
                                <thead>
                                    <tr style="background-color:#E9ECEF">
                                        <th>Item</th>
                                        <th>Item Spac.</th>
                                        <th>Price</th>
                                        <th>Qty</th>
                                        <th>VAT</th>
                                        <th>AIT</th>
                                        <th>Total</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-8">&nbsp;</div>
                        <label for="grossTotal" class="col-sm-2 col-form-label" style="text-align:right;">Gross Total </label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="grossTotal" id="grossTotal" value="@Model.salesInvoiceMaster.NetTotal?.ToString("0.00")" readonly style="text-align:right;">
                        </div>
                    </div>

                    @*<div class="form-group row">
            <div class="col-sm-8">&nbsp;</div>
            <label for="grossDiscount" class="col-sm-2 col-form-label" style="text-align:right;">Discount (%) </label>
            <div class="col-sm-2">
                <input type="number" class="form-control" max="100" onclick="CalculationNetTotal()" value="@Model.salesInvoiceMaster.DiscountOnTotal?.ToString("0.00")" name="grossDiscount" id="grossDiscount" style="text-align:right;">
            </div>
        </div>*@

                    <div class="form-group row">
                        <div class="col-sm-8">&nbsp;</div>
                        <label for="grossVAT" class="col-sm-2 col-form-label" style="text-align:right;">VAT Amount </label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" value="@Model.salesInvoiceMaster.VATOnTotal?.ToString("0.000000")" name="grossVAT" id="grossVAT" style="text-align:right;" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">&nbsp;</div>
                        <label for="grossTax" class="col-sm-2 col-form-label" style="text-align:right;">TAX Amount </label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" value="@Model.salesInvoiceMaster.TAXOnTotal?.ToString("0.000000")" name="grossTAX" id="grossTAX" style="text-align:right;" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-8">&nbsp;</div>
                        <label for="netTotal" class="col-sm-2 col-form-label" style="text-align:right;">Net Total </label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="netTotal" id="netTotal" value="@Model.salesInvoiceMaster.NetTotal?.ToString("0.000000")" readonly style="text-align:right;">
                        </div>
                    </div>

                    <div class="form-group row" style="display:none">
                        <div class="col-sm-8">&nbsp;</div>
                        <label for="netTotal" class="col-sm-2 col-form-label" style="text-align:right;">VDS</label>
                        <div class="col-sm-2">
                            <input data-parsley-type="number" class="form-control" name="vds" id="vds" value="@Model.salesInvoiceMaster.vds?.ToString("0.000000")" style="text-align:right;">
                        </div>
                    </div>

                    <br />
                    <button type="submit" value="Submit" class="btn btn-info float-right"><i class="fas fa-save"></i></button>
                    <button type="button" onclick="Refresh()" class="btn btn-danger float-right mr-2"><i class="fas fa-sync"></i></button>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="changePriceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Price</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="card mb-4">
                                <!-- Card Header - Dropdown -->
                                @*<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Item Price Fixing List</h6>
                                    </div>*@
                                <!-- Card Body -->
                                <div class="card-body">
                                    <table class="table table-striped table-bordered" id="itemPriceTable">
                                        <thead>
                                            <tr>
                                                <th>Item Name</th>
                                                <th>Item Specification</th>
                                                <th>Price</th>
                                                <th>Discount</th>
                                                <th>VAT</th>
                                                <th>Action</th>
                                        </thead>
                                        <tbody>
                                            @*@foreach (var data in Model.itemAllPriceFixings)
                                                {
                                                    <tr>
                                                        <td>@data.itemSpecification.Item?.itemName</td>
                                                        <td>@data.itemSpecification.specificationName</td>
                                                        <td>@data.price?.ToString("0.00")</td>
                                                        <td>@data.discountPersent?.ToString("0.00")</td>
                                                        <td>@data.VAT?.ToString("0.00")</td>
                                                        <td><button title="Set" class="btn btn-sm btn-info">Set</button></td>
                                                    </tr>
                                                }*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form id="ChangePriceForm" method="post" data-parsley-validate="parsley">

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group row">
                            <label for="itemName" class="col-sm-2 col-form-label">Item Name<span style="float:right;" class="redStar">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" data-parsley-required="true" data-parsley-trigger="keyup" class="form-control" name="itemName" id="itemName1">
                                <input type="hidden" name="itemId" id="itemId1" value="0" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="itemSpecification" class="col-sm-2 col-form-label">Item Specification<span style="float:right;" class="redStar">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" data-parsley-required="true" data-parsley-trigger="keyup" class="form-control" name="itemSpecification" id="itemSpecification1">
                                <input type="hidden" name="itemSpecificationId" id="itemSpecificationId1" value="0" />
                            </div>
                            <label for="purchasePrice" class="col-sm-2 col-form-label">Purchase Price </label>
                            <div class="col-sm-2">
                                <input data-parsley-type="number" class="form-control" style="text-align:right;" name="purchasePrice" id="purchasePrice1" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="profit" class="col-sm-2 col-form-label">Profit (Taka)<span style="float:right;" class="redStar">*</span></label>
                            <div class="col-sm-4">
                                <input data-parsley-type="number" data-parsley-required="true" data-parsley-trigger="keyup" value="0" style="text-align:right;" class="form-control" name="profit" id="profit1" readonly>
                            </div>
                            <label for="price" class="col-sm-2 col-form-label">Price (Taka)<span style="float:right;" class="redStar">*</span></label>
                            <div class="col-sm-4">
                                <input data-parsley-type="number" data-parsley-required="true" data-parsley-trigger="keyup" style="text-align:right;" class="form-control" name="price" id="price1">
                            </div>

                        </div>
                        <div class="form-group row">

                            <label for="discount" class="col-sm-2 col-form-label">Discount (%)</label>
                            <div class="col-sm-4">
                                <input data-parsley-type="number" class="form-control" data-parsley-trigger="keyup" style="text-align:right;" name="discount" id="discount1">
                            </div>
                            <label for="vat" class="col-sm-2 col-form-label">VAT (%) </label>
                            <div class="col-sm-4">
                                <input data-parsley-type="number" class="form-control" data-parsley-trigger="keyup" value="" style="text-align:right;" name="vat" id="vat11">
                            </div>
                        </div>

                        <hr>

                        <button type="button" value="Submit" onclick="SubmitChangeForm()" class="btn btn-succes" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>
                        <button type="button" onclick="Refresh()" class="btn btn-danger" style="float:right; margin-top:5px;margin-right:5px;"><i class="fas fa-sync"></i></button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/SweetAlert/sweetalert2.common.js"></script>
    <script src="~/SweetAlert/sweetalert2.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js"></script>
    <script>


       Common.Ajax('GET', '/FAMSDEALER/SalesInvoice/GetAllRelSupplierCustomerResourseByRoleId', [], 'json', ajaxAllSupplier);

        function ajaxAllSupplier(response) {
            var licenseList = [];
            $.each(response, function (id, option) {
                var obj = new Object();
                obj.licenseTypeId = option.licenseTypeId;
                obj.place = option.place; itemSpecification
                obj.label = option.licenseNumber;
                obj.value = option.licenseNumber;
                obj.licId = option.Id;
                licenseList.push(obj);
            });

            $('#LicenseNumber').autocomplete({
                source: licenseList,
                select: function (event, ui) {
                    console.log(ui);
                    $("#licenseId").val(ui.item.licId);
                    $("#place").val(ui.item.place);
                    $("#LicenseNumber").val(ui.item.label);
                    $("#licenseTypeId").val(ui.item.licenseTypeId);
                    // $("#organizationTypeId").val(ui.item.organizationTypeId);
                    // Common.Ajax('GET', '/global/api/supplier/GetAddressListByOrganizationId/' + ui.item.orgId, [], 'json', ajaxAddress);
                }
            });
        }


        var isEdit = false;
        var masterId = "";
        var licenseId = "";
        $(document).ready(function () {

            var currentDate = new Date();
            $("#invoiceDate").datepicker({ dateFormat: "dd-M-yy", showAnim: "scale", changeMonth: true, changeYear: true, yearRange: "2010:2030" }).datepicker("setDate", currentDate);
            $("#paymentDate").datepicker({ dateFormat: "dd-M-yy", showAnim: "scale", changeMonth: true, changeYear: true, yearRange: "2010:2030" }).datepicker("setDate", currentDate);



			$('#itemSpecification').prop('', true);
            //$('#btnChangePrice').prop('disabled', 'disabled');
            // $("#salesVatTypeId").val("@Model.salesVatTypeId");

            $("#masterId").val('@Model.masterId');
            $("#licenseId").val('@Model.licenseId');
             masterId = $("#masterId").val();
            licenseId = $("#licenseId").val();

            if (masterId != "0") {
                isEdit = true;
            }

            $("#customerName").select2({
                placeholder: "Select a Customer",
                allowClear: true,
            });
            getAllCustomerSelect2();
			//Common.Ajax('GET', '/global/api/patentItem/', [], 'json', ajaxAllInStockItem);

            $("#invoiceDate").datepicker({ dateFormat: "dd-M-yy", showAnim: "scale", changeMonth: true, changeYear: true, yearRange: "2010:2030" }).datepicker("setDate", new Date());
            $("#paymentDate").datepicker({ dateFormat: "dd-M-yy", showAnim: "scale", changeMonth: true, changeYear: true, yearRange: "2010:2030" }).datepicker("setDate", new Date());
            if ($("#salesInvoiceNo").val() == "") {
                $("#salesInvoiceNo").val('@ViewBag.SaleNo');
            }

            $("#invoiceDate").change(function () {
                getInvoiceNo();
            });


           // Common.Ajax('GET', '/global/api/getAllRelSupplierCustomerResourseByRoleId', [], 'json', ajaxAllCustomer);
            Common.Ajax('GET', '/FAMSDEALER/ItemInfo/GetAllItemForRequisitionForSales', [], 'json', ajaxAllActiveItem);
            Common.Ajax('GET', '/FAMSDEALER/SalesInvoice/GetAllSalesInvoiceDetailByMasterId/' + '@Model.masterId', [], 'json', ajaxitemDetailsForEdit);

            $("#grossDiscount").keyup(function () {
                CalculationNetTotal();
            });

            $("#grossVAT").keyup(function () {
                CalculationNetTotal();
            });

            if ('@ViewBag.storeId'> 0)
            {
                $('#storeId').val(@ViewBag.storeId);
            }

            $("#customerName").change(function () {
                $("#licenseId").val("");
                $("#binNo").val("");
                $("#address").val("");
                $("#shiftTo").val("");
                if ($(this).val() != "") {
                    var custName = $(this).find("option:selected").text();
                    var custId = $(this).val();
                    var orgId = $('option:selected', this).attr('orgId');
                    var binNumber = $('option:selected', this).attr('binNumber');
                    var registeredAddress = $('option:selected', this).attr('registeredAddress');
                    //$("#customerName").val(custName);
                    $("#licenseId").val(custId);
                    $("#binNo").val(binNumber);
                    $("#address").val(registeredAddress)
                    $("#shiftTo").val(registeredAddress)

                   // Common.Ajax('GET', '/global/api/customer/GetAddressListByResourceId/' + orgId, [], 'json', ajaxAddress);
                }
            });

        });

		$('#itemName').change(function () {
			if ($(this).val() == '') {
				$('#itemSpecification').prop('readonly', true);
			}
			else {
				$('#itemSpecification').prop('', false);
			}
		})

		$('#btnChangePrice').click(function () {
			var id = $("#itSpecId").val();
			if ($("#itSpecId").val() != 0) {
				Common.Ajax('GET', '/Sales/SalesInvoice/GetItemPriceFixingsBySpecId?id=' + id, [], 'json', ajaxFunction1, false);

				$('#changePriceModal').modal('show');
			}
		})

		function ajaxFunction1(response) {
			console.log(response);
			var option = "";
            $.each(response, function (i, item) {
                if (item.itemSpecification.discountPersent == null || item.itemSpecification.discountPersent == "undefined" || item.itemSpecification.discountPersent == "") {
                    item.itemSpecification.discountPersent = 0;
                }
				option += `<tr>
								<td>${item.itemSpecification.Item.itemName}</td>
								<td>${item.itemSpecification.specificationName}</td>
								<td>${item.price}</td>
								<td>${item.itemSpecification.discountPersent}</td>
								<td>${item.VAT}</td>
								<td><button title="Set" onclick=SETPrice(${item.price},${item.Id}) class="btn btn-sm btn-info">Set</button></td>
							</tr>`
			});
			$('#itemPriceTable tbody').empty();
			$('#itemPriceTable tbody').append(option);
        }

        function SETPrice(price, Id) {
            $("#itemSpecificationId").val(Id);
            $("#price").val(price);
            $('#changePriceModal').modal('hide');
        }

		function ajaxAllInStockItem(response) {
			var GetInStockItemList = [];
			$.each(response, function (id, option) {
				var obj = new Object();
				obj.key = option.Id;
				obj.value = option.itemName;
				GetInStockItemList[GetInStockItemList.length] = obj;
			});
			$('#itemName1').autocomplete({
				source: GetInStockItemList,
				select: function (event, ui) {

					$("#itemId1").val(ui.item.key);
					//Common.Ajax('GET', '/global/api/getAllStockItemSpacificationByItemId/' + ui.item.key, [], 'json', ajaxAllInStockItemSpacification);
				//	Common.Ajax('GET', '/global/api/GetItemSpecificationByitemId/' + ui.item.key, [], 'json', ajaxAllInStockItemSpacification);
				}
			});
		}


		//function ajaxAllInStockItemSpacification(response) {
		//	//console.log(response);
		//	var GetInStockItemSpacificationList = [];
		//	$.each(response, function (id, option) {
		//		var obj = new Object();
		//		obj.key = option.Id;
		//		obj.VAT = option.VAT;
		//		// alert(obj.key);
		//		obj.value = option.specificationName;
		//		GetInStockItemSpacificationList[GetInStockItemSpacificationList.length] = obj;
		//	});
		//	$('#itemSpecification1').autocomplete({
		//		source: GetInStockItemSpacificationList,
		//		select: function (event, ui) {
		//			$("#itemSpecificationId1").val(ui.item.key);
		//			$("#vat1").val(ui.item.VAT);
		//			// alert(ui.item.key);
		//			Common.Ajax('GET', '/Purchase/PurchaseOrder/GetItemLastPurchasePriceBySpecId/' + ui.item.key, [], 'json', ajaxgetpurchaserate, false);
		//			//Common.Ajax('GET', '/api/itemPriceFixing/GetBoMPriceBySpecId/' + ui.item.key, [], 'json', ajaxgetpurchaserate, false);
		//			//Common.Ajax('GET', '/api/itemPriceFixing/GetPurchaseProfitFromBoMBySpecId/' + ui.item.key, [], 'json', ajaxGetPurchaseProfitFromBoMBySpecId);


		//		}
		//	});
		//}

		function ajaxgetpurchaserate(response) {
			//console.log(response);
			if (response != null) {
				$("#purchasePrice1").val(response.rate);
			} else {
				$("#purchasePrice1").val(0);
			}
		}

        function ajaxAllActiveItem(response) {

            var GetInStockItemList = [];
			$.each(response, function (id, option) {
                var obj = new Object();
                obj.key = option.Id;
                obj.value = option.itemName;
               // obj.vat = option.itemHsCode.VAT ? option.itemHsCode.VAT : 0.00;
               // obj.ait = option.itemHsCode.AIT ? option.itemHsCode.AIT : 0.00;
                obj.hsCode = option.itemHsCode.hsCode;
                obj.vatCategory = option.itemHsCode.vatCategory;
                obj.vATSchedule = option.itemHsCode.vATSchedule;
                obj.txtVatTable = option.itemHsCode.vatTable;

                GetInStockItemList[GetInStockItemList.length] = obj;
            });
            $('#itemName').autocomplete({
                source: GetInStockItemList,
				select: function (event, ui) {
					console.log(ui)
                    $("#itemId").val(ui.item.key);
                  //  $("#VAT").val(ui.item.vat);
                    //$("#AIT").val(ui.item.ait);
                    $("#hsCode").val(ui.item.hsCode);
                    $("#txtVatCat").val(ui.item.vatCategory);
                    $("#txtVatSchedule").val(ui.item.vATSchedule);
                    $("#txtVatTable").val(ui.item.txtVatTable);
					$("#itemSpecification").val('');
                    //$("#txtTaxpercent").val(ui.item.ait);
                    //Common.Ajax('GET', '/global/api/getAllPriceFixedItemSpacificationByItemId/' + ui.item.key, [], 'json', ajaxAllPriceFixedItemSpacification);
                    Common.Ajax('GET', '/FAMSDEALER/ItemInfo/GetItemSpecificationByitemId/?itemId=' + ui.item.key, [], 'json', ajaxAllItemSpacification);

                   // Common.Ajax('GET', '/api/Item/GetItemHSCodeByHsCode/' + ui.item.hsCode, [], 'json', GetItemHSCodebyCode);
                    //Common.Ajax('GET', '/global/api/ItemSpec/' + ui.item.key, [], 'json', ajaxAllPriceFixedItemSpacification);
                }
            });
        }

        function ajaxAllItemSpacification(response) {
            var GetInStockItemSpacificationList = [];
            $.each(response, function (id, option) {
                var obj = new Object();
                obj.key = option.Id;
                obj.specificationName = option.specificationName;
                obj.unitName = option.unitName;
                // alert(obj.key);
                obj.value = option.specificationName;
                GetInStockItemSpacificationList[GetInStockItemSpacificationList.length] = obj;
            });
            $('#itemSpecification').autocomplete({
                source: GetInStockItemSpacificationList,
                select: function (event, ui) {
                    $("#itSpecId").val(ui.item.key);
                    $("#itemSpecification").val(ui.item.specificationName);
                    $("#unit").val(ui.item.unitName);
                }
            });
        }

        function GetItemHSCodebyCode(response) {
            // console.log(response);
            $("#hsCode").val(response.hsCode);
           // $("#txtVatpercent").val(response.VAT ? response.VAT : 0.00);
            // $("#txtTaxpercent").val(response.AIT ? response.AIT : 0.00);
            $("#txtVatTable").val(response.vatTable.tableName);
            $("#txtVatSchedule").val(response.vATSchedule.vatScheduleName);
            $("#txtVatCat").val(response.vatCategory.vatCategoryName);
        }

        function ajaxAllPriceFixedItemSpacification(response) {
            console.log(response);
            var GetInStockItemSpacificationList = [];
            $.each(response, function (id, option) {
                var obj = new Object();
                obj.key = option.Id;
                obj.value = option.itemSpecificationName;
                obj.price = option.price;
				obj.SpecId = option.itemSpecificationId;
                obj.VAT = option.VAT;
                obj.discountPersent = option.discountPersent;
                obj.unitName = option.unitName;
                GetInStockItemSpacificationList[GetInStockItemSpacificationList.length] = obj;
            });
            $('#itemSpecification').autocomplete({
                source: GetInStockItemSpacificationList,
                select: function (event, ui) {
                    $("#itemSpecificationId").val(ui.item.key);
                    $("#price").val(ui.item.price);
                    $("#discount").val(ui.item.discountPersent);
                    $("#unit").val(ui.item.unitName);
					$("#itSpecId").val(ui.item.SpecId);
                }
            });
        }

        var customer = {};
        function getAllCustomerSelect2() {
         $.ajax({
                type: 'GET',
               // url: '/global/api/getAllRelSupplierCustomerResourseByRoleId',
                dataType: 'json',
                success: function (data) {
                    $('#customerName').append('<option value="">Select a Customer.</option>');
                    $.each(data, function (key, value) {
                        if (value.resource != null) {
                            if (value.resource.registeredAddress == null) {
                                value.resource.registeredAddress = "";
                            }
                            var option = "<option registeredAddress='"+value.resource.registeredAddress+ "' orgId='" + value.resource.Id + "'  binNumber='" + value.resource.binNumber + "'  value=" + value.Id + ">" + value.resource.nameEnglish + "</option>"
                            $('#customerName').append(option);

                            if (isEdit == true) {
                                if (licenseId == value.Id) {
                                    customer = {
                                        "orgId": value.resource.Id,
                                        "binNumber": value.resource.binNumber,
                                        "Id": value.Id,
                                        "name": value.resource.nameEnglish,
                                        "registeredAddress": value.resource.registeredAddress
                                    }
                                }
                            }
                        }
                    })

                    setCustomer();
                }
            });
        }

        function setCustomer() {

            if (customer != null) {
                $("#licenseId").val(customer.Id);
                $("#customerName").val(customer.Id).attr("binNumber", customer.binNumber).attr("orgId", customer.orgId).attr("registeredAddress", customer.registeredAddress).trigger('change');
            }
        }



        function ajaxAddress(response) {
            $.each(response, function (key, rc) {

                $("#address").val(rc.union + "," + rc.houseVillage + "," + rc.blockSector + "," + rc.postCode + "," + rc.postOffice + "," + rc.thana.thanaName + "," + rc.district.districtName + "," + rc.division.divisionName);
            });

        }

        function Refresh() {
            location.reload();
        }

        function Remove(Id) {
            chk = confirm('Do you want to delete this?');
            if (chk) {
                location.replace("/MasterData/Ledger/Delete/" + Id);
            } else {
                return false;
            }
        }


        function EditTbl(index, itemId, itemName,
            SpecificationId, specificationName, unitName, hsCode, quantity, rate, vatPercentage,vId) {
            var rightIndex = index;
            $("#IsEdit").val(1);
            $('#detailsId').val(vId);

            $('#itemName').val(itemName);
            $('#itemId').val(itemId);

            $('#itSpecId').val(SpecificationId);
            $('#itemSpecificationId').val(SpecificationId);
            $('#itemSpecification').val(specificationName);
            $('#hsCode').val(hsCode);
            $('#price').val(rate);
            $('#quantity').val(quantity);
            $('#unit').val(unitName);

            $('#txtVatpercent').val(vatPercentage);
            // $('#txtTaxpercent').val(0);
           // $('#itemNamespec').val(itemName);
            //$('#itemIdspec').val(vId);

            //Common.Ajax('GET', '/MasterData/Item/GetAllSpecificationDetailByitemId/?itemId=' + $("#itemsId").val(), [], 'json', ajaxGetAllSpecificationDetailByitemId);

            Common.Ajax('GET', '/api/ItemInfo/GetItemHSCodeByHsCode/' + hsCode, [], 'json', GetItemHSCodebyCode);


            window.localStorage.setItem('holdIndex1', null);
            if (rightIndex != null) {
                window.localStorage.setItem('holdIndex1', rightIndex);
            }
        }



        var index = 1;
        //Add New Item
        function AdditemDetails() {

            var ifExistIndex = window.localStorage.getItem("holdIndex1");

            var index = "0";
            if (ifExistIndex == "null" || ifExistIndex == null) {
                index = $("#tblitemDetails tbody>tr").length;
            }
            else {
                index = ifExistIndex;
                tdRID = $("#tblitemDetails tbody >tr:eq(" + ifExistIndex + ") td:eq(0) .clsId").val();
            }
            if ($("#itemSpecId").val() == "" || $("#itemSpecId").val() == "0") {
                alert("Plaese Select Valid Item Specification.");
                return false
            }

            if ($("#quantity").val() == '' || parseFloat($("#quantity").val()) <= 0) {
                alert("Plaese Enter Valid Quantity.");
                return false
            }

            let id = parseInt($("#detailsId").val()) ? parseInt($("#detailsId").val()) : 0;
            var itemName = $("#itemName").val();
            var itemsId = $("#itemId").val();
            var itemSpecification = $("#itemSpecification").val();
            if ($("#itemSpecification").val() == "") {
                alert("Plaese Enter Valid Item Specification.");
                return false
            }
            //var itemSpecificationId = $("#itemSpecificationId").val();

            var itemSpecId = $("#itSpecId").val();

            var price = parseFloat($("#price").val());
            var rate = $("#price").val();
            var quantity = parseFloat($("#quantity").val());
            //var vat = $("#VAT").val();
            //var ait = $("#AIT").val();
            var vatPer = $("#txtVatpercent").val();
            var unit = $("#unit").val();
            var hsCode = $("#hsCode").val();
            var taxPer = 0;
            vat = price * quantity * vatPer / 100;
           // ait = price * quantity * taxPer / 100;
            ait = 0;
            var discount = 0;
            if ($("#discount").val() != "") {
                discount = parseFloat($("#discount").val());
            }
            //var totalAmount = (price * quantity + vat + ait) - ((price * quantity) * discount / 100)
            var totalAmount = (price * quantity + vat) - ((price * quantity)/100)

            var RowCount = $("#tblitemDetails tbody>tr").length;
            var editOption = parseInt($('#IsEdit').val()) ? parseInt($('#IsEdit').val()) : 0;

            for (i = 0; i <= RowCount; i++) {
                var _itemSpecificationId = $("#itemSpecId" + i).val();
                if (_itemSpecificationId == itemSpecId && editOption == 0) {
                    alert('You have already added this Item!');
                    return false
                }
            }
            var dtTable = $("#tblitemDetails");
            var tableBody = dtTable.find('tbody');

            var _itemName = itemName.replace('"', "");
            var _specificationName = itemSpecification.replace('"', "");
            var trHtml = '<tr id=' + index + '>' +
                '<td>' + itemName + '<input type="hidden" name="id" class="clsId" value="' + id + '"><input type="hidden" id="itemId' + index + '" name="itemId" class="clsitemId" value="' + itemsId + '"/></td>' +
                '<td>' + itemSpecification +
                '<input type="hidden" id="itemSpecId' + index + '" name="itemSpecId[]" class="clsitemSpecificationId" value="' + itemSpecId + '"/></td>' +
                '<td>' + price.toFixed(6) + '<input type="hidden" id="price' + index + '" name="rate[]" class="clsprice" value="' + price + '"/></td>' +
                '<td>' + quantity + '<input type="hidden" id="quantity' + index + '" name="tblQuantity[]" class="clsquantity" value="' + quantity + '"/></td>' +
                '<td style="text-align:right;">' + vat + '<input class="clsvatAmount" type="hidden" id="vat' + index + '" name="vattotal[]"  value="' + vat + '"/></td>' +
                '<input class="clsvatPercentage" type="hidden" id="vat' + index + '" name="vatPercentage[]"  value="' + vatPer + '"/>' +
                '<td style="text-align:right;">' + ait + '<input class="clstaxAmount" type="hidden" id="tax' + index + '" name="taxtotal[]"  value="' + ait + '"/></td>' +
                '<input class="clstaxPercentage" type="hidden" id="tax' + index + '" name="taxPercentage[]"  value="' + taxPer + '"/>' +

                '<td>' + totalAmount.toFixed(6) + '<input type="hidden" id="totalAmount' + index +'" name="lineTotal[]" class="clstotalAmount" value="' + totalAmount + '"/></td>' +
                '<td><a href="javascript:void(0)"style="background-color:red;border-color:red" data-toggle="tooltip" title="Delete" class="btn btn-danger btn-xs" onclick="Delete(' + index + ')"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;' +
                '<a onclick="EditTbl(' + index + ','
                + itemsId + ', ' +
                "'" + _itemName + "'," +
                + itemSpecId + ',' +
                "'" + _specificationName + "'" + ',' +
                "'" + unit + "'"+ ',' +
                "'" + hsCode + "'," +
                quantity + ',' +
                price + ',' +
                vatPer + ',' +
                taxPer + ', '
                + id +
                 ')" href="javascript:void(0)" title="Edit" class="btn btn-success btn-xs" > <i class="fa fa-edit"></i></a >' +

                '</tr>';
            //tableBody.append(trHtml);
            if (ifExistIndex == null || ifExistIndex == "null") {
                tableBody.append(trHtml);
            }
            else {
                var rowUpdate = $("#tblitemDetails tbody >tr:eq(" + ifExistIndex + ")");
                rowUpdate.replaceWith(trHtml);
                window.localStorage.setItem("holdIndex", null);
                ifExistIndex = null;
            }
            index = index + 1;
            $("#rowCount").val(index);

            ClearLineItem();
           // CalculateGrossTotal();
           // CalculateGrossVAT();
            fnGrandTotal();
        }
        //EDIT
        function ajaxitemDetailsForEdit(response) {
            var ifExistIndex = window.localStorage.getItem("holdIndex1");
            var index = "0";
            if (ifExistIndex == "null" || ifExistIndex == null) {
                index = $("#tblitemDetails tbody>tr").length;
            }
            else {
                index = ifExistIndex;
                tdRID = $("#tblitemDetails tbody >tr:eq(" + ifExistIndex + ") td:eq(0) .clsId").val();
            }
            $("#tblitemDetails tbody>tr").empty();

             // var dtTable = $("#tblitemDetails");
            //var tableBody = dtTable.find('tbody');
            if (response != null) {
                $.each(response, function (i, item) {
                    //var totalAmount = (item.rate * item.quantity) - ((item.rate * item.quantity) * item.itemPriceFixing.discountPersent / 100)
                    var totalAmount = (item.rate * item.quantity) - ((item.rate * item.quantity)/ 100)
                    index = $("#tblitemDetails tbody>tr").length;
                    var dtTable = $("#tblitemDetails");
                    var tableBody = dtTable.find('tbody');

                    var str = item.itemSpecification.Item.itemName;
                    var itemName = str.replace('"', "");
                    str = item.itemSpecification.specificationName;
                    var specificationName = str.replace('"', "");

                    var trHtml = '<tr id=' + index + '>' +
                        '<td>' + itemName + '<input type="hidden" name="id" class="clsId" value="' + item.Id + '"><input type="hidden" id="itemId' + index + '" name="itemId" class="clsitemId" value="' + item.itemSpecification.Item.Id + '"/></td>' +
                        '<td>' + specificationName +
                        '<input type="hidden" id="itemSpecId' + index + '" name="itemSpecId[]" class="clsitemSpecificationId" value="' + item.itemSpecification.Id + '"/></td>' +
                        '<td>' + item.rate.toFixed(6) + '<input type="hidden" id="price' + index + '" name="rate[]" class="clsprice" value="' + item.rate + '"/></td>' +
                        '<td>' + item.quantity + '<input type="hidden" id="quantity' + index + '" name="tblQuantity[]" class="clsquantity" value="' + item.quantity + '"/></td>' +
                        '<td style="text-align:right;">' + item.vatAmount + '<input class="clsvatAmount" type="hidden" id="vat' + index + '" name="vattotal[]"  value="' + item.vatAmount + '"/></td>' +
                        '<input class="clsvatPercentage" type="hidden" id="vat' + index + '" name="vatPercentage[]"  value="' + item.vatPercentage + '"/>' +
                        '<td style="text-align:right;">' + item.taxAmount + '<input class="clstaxAmount" type="hidden" id="tax' + index + '" name="taxtotal[]"  value="' + item.taxAmount + '"/></td>' +
                        '<input class="clstaxPercentage" type="hidden" id="tax' + index + '" name="taxPercentage[]"  value="' + item.taxPercentage + '"/>' +
                        '<td>' + item.lineTotal.toFixed(6) + '<input type="hidden" id="totalAmount' + index + '" name="lineTotal[]" class="clstotalAmount" value="' + item.lineTotal.toFixed(6) + '"/></td>' +
                        '<td><a href = "javascript:void(0)" style = "background-color:red;border-color:red;" data-toggle="tooltip" title = "Delete" class="btn btn-danger btn-xs" onclick = "Delete(' + index + ')" > <i class="fa fa-trash"></i></a><a onclick="EditTbl(' + index + ','
                        + item.itemSpecification.Item.Id + ','
                        + "'" + itemName + "',"+
                        item.itemSpecification.Id +
                        ",'" + specificationName+"',"+
                        "'" + item.itemSpecification.Item.unit.unitName + "'," +
                        "'" + item.itemSpecification.Item.itemHsCode.hsCode + "'," +
                        item.quantity + ','+
                        item.rate + ',' +
                        item.vatPercentage + ',' +
                        item.Id
                        + ')" href="javascript:void(0)" style = "margin-left: 1px;" title="Edit" class="btn btn-success btn-xs" ><i class="fa fa-edit"></i></a></td ></tr >';



                    tableBody.append(trHtml);
                    index = index + 1;
                    $("#rowCount").val(index);
                })
            }
            //ClearLineItem();
            //CalculateGrossTotal();
        }

        //function Delete(indx) {
        //    $("#tblitemDetails #" + indx).remove();
        //    CalculateGrossTotal();
        //    CalculateGrossVAT();
        //    return false;
        //}

        function ClearLineItem() {
            $('#detailsId').val('');
            $("#IsEdit").val(0);

            $("#itemName").val('');
            $("#itemId").val('0');
            $("#itemSpecification").val('');
            $("#itemSpecificationId").val('0');
            $("#price").val('');
            $("#quantity").val('');
            $("#discount").val('');
            $("#unit").val('');
            $("#txtVatpercent").val('');
            $("#txtTaxpercent").val('');

            $("#txtVatCat").val('');
            $("#txtVatSchedule").val('');
            $("#txtVatTable").val('');
            $("#hsCode").val('');
            window.localStorage.setItem("holdIndex1", null);
            ifExistIndex = null;
        }

        function CalculateGrossTotal() {
            var grossTotal = 0;
            var RowCount = parseInt($("#rowCount").val());
            for (i = 1; i <= RowCount; i++) {
                var _totalAmount = 0;
                if (parseFloat($("#totalAmount" + i).val()) > 0 ) {
                    _totalAmount = parseFloat($("#totalAmount" + i).val());
                }
                grossTotal = grossTotal + _totalAmount;
            }
            $("#grossTotal").val(grossTotal.toFixed(6));
            CalculationNetTotal();
        }

        function CalculateGrossVAT() {
            var grossVAT = 0;
            var grossTAX = 0;
            var RowCount = parseInt($("#rowCount").val());
            for (i = 1; i <= RowCount; i++) {
                var _grossVAT = 0;
                var _grossTAX = 0;
                if (parseFloat($("#vat" + i).val()) > 0) {
                    _grossVAT = parseFloat($("#vat" + i).val());
                }
                if (parseFloat($("#tax" + i).val()) > 0) {
                    _grossTAX = parseFloat($("#tax" + i).val());
                }
                grossTAX = grossTAX + _grossTAX;
                grossVAT = grossVAT + _grossVAT;
            }
            $("#grossVAT").val(grossVAT.toFixed(6));
            $("#grossTAX").val(grossTAX.toFixed(6));
            CalculationNetTotal();
        }

        function CalculationNetTotal() {
            var grossTotal = 0; var grossDiscount = 0; var grossVAT = 0;
            var vatAmount = 0;
            var taxAmount = 0;
            if ($("#grossTotal").val() != "") {
                grossTotal = parseFloat($("#grossTotal").val());
            }

            //if ($("#grossDiscount").val() != "") {
            //    grossDiscount = parseFloat($("#grossDiscount").val());
            //}

            //if ($("#grossVAT").val() != "") {
            //    grossVAT = parseFloat($("#grossVAT").val());
            //}
            $(".clsvatAmount").each(function () {
                vatAmount += +parseFloat($(this).val().replace(/,/g, '')) ? parseFloat($(this).val().replace(/,/g, '')) : 0;
                $("#vatPercent").val(vatAmount);
            });
            $(".clstaxAmount").each(function () {
                taxAmount += +parseFloat($(this).val().replace(/,/g, '')) ? parseFloat($(this).val().replace(/,/g, '')) : 0;
                $("#taxPercent").val(taxAmount);
            });
            var netAfterDisc = (grossTotal);

            //var netWithVAT = (netAfterDisc + (netAfterDisc * grossVAT / 100));
            var netWithVAT = (netAfterDisc);

            $("#netTotal").val(netWithVAT.toFixed(6));
    }
        function getInvoiceNo() {

            let invoiceDate = $('#invoiceDate').val();
            Common.Ajax('GET', '/api/global/getInvoiceNo/' + invoiceDate, [], 'json', setAutoNumber);
        }

        function setAutoNumber(response) {
        $('#salesInvoiceNo').val(response);
        }

        function SubmitChangeForm() {
            var data = $("#ChangePriceForm").serialize();

            if ($("#itemName1").val() == "") {
                swal('Warning', 'Enter Item!!', 'warning');
                return false;
            }
            if ($("#itemSpecification1").val() == "") {
                swal('Warning', 'Enter ItemSecification!!', 'warning');
                return false;
            }
            if ($("#price1").val() == "") {
                swal('Warning', 'Enter Price!!', 'warning');
                return false;
            }
            if ($("#vat1").val() == "") {
                swal('Warning', 'Enter VAT!!', 'warning');
                return false;
            }
            var itemName = $("#itemName1").val();
            var itemSpecification = $("#itemSpecification1").val();
            var price1 = $("#price1").val();
            var discount1 = $("#discount1").val();
            var vat1 = $("#vat1").val();


            swal({
                title: 'Are you sure?', text: 'Do you want to Save this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, Save it!'
            }).then(function () {
                $.ajax({
                    type: "POST",
                    url: "/Sales/ItemPriceFixing/ChangePrice",
                    data: data,
                    success: function (response) {
                        swal('', 'Saved Successfully!', 'success');
                        var option = "";
                        option += `<tr>
								<td>${itemName}</td>
								<td>${itemSpecification}</td>
								<td>${price1}</td>
								<td>${discount1}</td>
								<td>${vat1}</td>
								<td><button title="Set" onclick=SETPrice(${price1},${response}) class="btn btn-sm btn-info">Set</button></td>
							</tr>`;

                        $('#itemPriceTable tbody').append(option);
                        $("#itemName1").val('');
                        $("#itemSpecification1").val('');
                        $("#price1").val('');
                        $("#discount1").val('');
                        $("#vat1").val('');
                    }
                });
            });
            return false;
        }


        function fnGrandTotal() {
            var tax = 0;
            var vat = 0;
            var totalAmount = 0;
            var vatAmount = 0;
            var taxAmount = 0;
            var netTotal = 0;

            $(".clstotalAmount").each(function () {
                totalAmount += +parseFloat($(this).val().replace(/,/g, '')) ? parseFloat($(this).val().replace(/,/g, '')) : 0;
            });
            $(".clsvatAmount").each(function () {
                vatAmount += +parseFloat($(this).val().replace(/,/g, '')) ? parseFloat($(this).val().replace(/,/g, '')) : 0;
                $("#grossVAT").val(vatAmount);
            });
            $(".clstaxAmount").each(function () {
                taxAmount += +parseFloat($(this).val().replace(/,/g, '')) ? parseFloat($(this).val().replace(/,/g, '')) : 0;
                $("#grossTAX").val(taxAmount);
            });



            netTotal = parseFloat(totalAmount);

            $("#grossTAX").val(taxAmount.toFixed(6));
            $("#grossVAT").val(vatAmount.toFixed(6));
            $("#grossTotal").val(netTotal.toFixed(6));
            $("#netTotal").val(netTotal.toFixed(6));
        }

        function Delete(index) {
            swal({
                title: 'Are you sure?', text: 'Do you want to delete this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, delete it!'
            }).then(function () {
                $("#tblitemDetails #" + index).remove();
                swal('', 'Deleted Successfully!', 'success');
                fnGrandTotal();
            });

        }


    </script>
}




