
@{
    ViewData["Title"] = "UserRoleAssign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12 " style="min-height:500px">
    <div class="row mt-4 bg-secondary">
        <input type="hidden" id="ID" />
        <div class="col-sm-3 mt-4">
            <label class="HeadingColor text-white font-weight-bolder" style="padding-left:0px;">ভূমিকা প্রবেশাধীকার তথ্য :-</label>
        </div>
        <div class="col-md-5 mt-4" style="padding-left:0px;">
            <div class="form-group row">
                <label class="col-md-3 text-white font-weight-bolder">ভূমিকা ধরণ</label>
                <div class="col-md-8">
                    <select class="form-control" id="UserTypeID" placeholder="ব্যবহারকারীর ধরন" name="userTypeId" style="border-radius: 25px;" required>
                        <option value="0">নির্বাচন করুন</option>
                        @foreach (var data in Model.userRoles)
                        {
                            <option value="@data.RoleId">@data.RoleName</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-2 mt-2">
            <div class="col-md-4" style="">
                <button id="btnSave" class="btn btn-info  pull-left" style="" onclick="SaveUserMenuAccess()"> জমা দিন </button>
            </div>
            <div class="form-group">

            </div>
        </div>
    </div>

    <div style="height:10px;"></div>
    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
        <div class="row">
            <div class="col-md-12">
                <table id="data-table-row-grouping" class="table table-striped jambo_table bulk_action">
                    <thead style="background-color:#8a8585;color:white">
                        <tr>
                            <th>ক্রমিক নং</th>
                            <th>মেনু নাম</th>
                            <th>মেনু নাম (বাংলা)</th>
                            <th>প্রক্রিয়া </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int sl = 1;}
                        @foreach (var data in Model.modules)
                        {
                            <tr>
                                <td>@sl @{ sl++; }</td>
                                <td>@data.moduleName<input type="hidden" id="txtNameOption_@data.Id" class="clNameOption" value="@data.Id" /></td>
                                <td>@data.moduleNameBN</td>
                                <td><input id="chk_@data.Id" type="checkbox" style="width:20px;height:20px" class="js-switch" /></td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#UserTypeID").change(function () {
                GetUserMenuAccess();
            });
        })
        function GetUserMenuAccess() {
            $('.js-switch').prop('checked', false);
            var UserTypeId = $("#UserTypeID").val();
            if (UserTypeId != null && UserTypeId != "") {
                $('#AjaxLoader').show();
                $.ajax({
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("UserAssignPage", "Account", "http")',
                    data: { userTypeId: UserTypeId },
                    dataType: 'json',
                    async: true,
                    success: function (UserMenu) {

                        $.each(UserMenu, function (index, E) {

                            if (E.eRPModuleId != 0) {
                                $('#chk_' + E.eRPModuleId).prop('checked', true)
                            }
                            else {
                                $('.js-switch').prop('checked', false);
                            }
                        });
                    },
                    error: function (request, status, error) {
                        $('#AjaxLoader').hide();
                        alert(request.statusText + "/" + request.statusText + "/" + error);
                    }
                });
            }
        }
         function SaveUserMenuAccess()
         {
             var UserTypeId = $("#UserTypeID").val();
             if (UserTypeId == 0) {
                 swal('Warning', 'Please select Role Type', 'warning');
                 return false;
             }
             //swal('Warning', 'Please select License Type', 'warning');
             swal({
                 title: 'Are you sure?', text: 'Do you want to Save this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Save it!'
             }).then(function () {
                 $('#AjaxLoader').show();
                var AllMenuId = new Array();


                var $allMenu = $(".clNameOption");
                $allMenu.each(function () {
                    var value = $(this).val();
                    if ($("#chk_" + value).is(":checked") == true)
                    {
                        AllMenuId[AllMenuId.length] = parseInt(value);
                    }
                });

                $.ajax({
                    url: '@Url.Action("SaveUserMenuAccess", "Account")',
                    type: 'POST',
                    data: { UserTypeIds: UserTypeId, AllMenuIds: AllMenuId }
                })
                    .done(function () {
                        location.reload();
                        //alert("Save Successfully");
                    })
                    .fail(function () {
                        alert("Unable to Save. Please Try Again");
                    });

             })


        }
    </script>
}